<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Classes</h5></td>
                <td style="width:200mm">
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="clear()"><span class="glyphicon glyphicon-folder-open"></span> New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" ><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="deleteClass()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="saveClass()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                </td>
            </tr>
        </table>
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-2">Code</div>
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="col-sm-7"><input type="text" name="clasCode" [(ngModel)]="clasCode" class="form-control" placeholder="--Class Code--"></div>
                    <div class="col-sm 5">
                        <button type="button" (click)="searchClass()" name="searchClass" style="margin: 2px;"><span class="glyphicon glyphicon-search"></span>Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Name</div>
                    <div class="col-sm-10">
                        <ng2-completer style="width: 100%;" name="clasName" [(ngModel)]="clasName" [inputClass]="'form-control form-control-inline'" [datasource]="clasNames" [minSearchLength]="1" placeholder="--Class Name--"></ng2-completer>
                        <!--<input type="text" name="className" [(ngModel)]="className" class="form-control" placeholder="--Class Name--">-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Department</div>
                    <div class="col-sm-10">
                        <select [(ngModel)]="departmentName" name="departmentName" class="form-control" placeholder="--Class--">
                            <option *ngFor="let department of departmentNames" [ngValue]="department">{{department}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed data-table table-hover">
                            <thead>
                                <tr class="info" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                                    <td>Class Code</td>
                                    <td>Class Name</td>
                                    <td>Department</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let clas of classes" [ngValue]="classes" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                                    <td>{{clas.clasCode}}</td>
                                    <td>{{clas.clasName}}</td>
                                    <td>{{clas['department'].departmentName}}</td>
                                    <td><a class="glyphicon glyphicon-pencil badge" (click)="search(clas.id)">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>