<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Classes</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Class Code</div>
            <input type="hidden" name="id" [(ngModel)]="id">
            <div class="col-sm-5"><input type="text" name="classCode" [(ngModel)]="classCode" class="form-control" placeholder="--Class Code--"></div>
            <div class="col-sm 7">
                <button type="reset" name="newClass"  class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Reset/New</button>..  
                <button type="button" (click)="searchClass()" name="searchClass" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">Class Name</div>
            <div class="col-sm-10"><input type="text" name="className" [(ngModel)]="className" class="form-control" placeholder="--Class Name--"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">Select Department</div>
            <div class="col-sm-10">
                    <select name="className" [(ngModel)]="className" class="form-control">
                        <option></option>
                    </select>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="button" name="saveClass" (click)="saveClass()" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save / Update</button>..
                <button type="button" name="deleteClass" (click)="deleteClass()" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>..
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed data-table table-hover">
                    <thead>
                        <tr class="info">
                            <td>Class Code</td>
                            <td>Class Name</td>
                            <td>Department</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>AKILI AND COMPANY</td>
                            <td>Robert Simkoko</td>
                            <td><a class="glyphicon glyphicon-pencil">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>