<div class="panel panel-default">

    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">User Enrolment</h5></td>
                <td style="width:200mm">
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="clear()"><span class="glyphicon glyphicon-folder-open"></span> New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" ><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="deleteUser()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="saveUser()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-3">Payroll No</div>
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="col-sm-5">
                        <input type="text" name="payRollNo" [(ngModel)]="payRollNo" class="form-control" placeholder="--Pay Roll No--">
                    </div>
                    <div class="col-sm-4"><button (click)="searchUser()" style="margin: 2px;"><span class="glyphicon glyphicon-search"></span> Search</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Username</div>
                    
                    <div class="col-sm-8">
                        <input type="text" name="username" [(ngModel)]="username" class="form-control" placeholder="--Username--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">First Name</div>
                    <div class="col-sm-8">
                        <input type="text" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="--First Name--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Second Name</div>
                    <div class="col-sm-8">
                        <input type="text" name="secondName" [(ngModel)]="secondName" class="form-control" placeholder="--Second Name--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Last Name</div>
                    <div class="col-sm-8">
                        <input type="text" name="lastName" [(ngModel)]="lastName" class="form-control" placeholder="--Last Name--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Role</div>
                    <div class="col-sm-8">
                        <select [(ngModel)]="roleName" name="roleName" class="form-control" placeholder="--Role--">
                            <option></option>
                            <option *ngFor="let roleName of roleNames" [ngValue]="roleName">{{roleName}}</option>
                        </select>
                        <!--<input type="text" name="role" [(ngModel)]="role" class="form-control" placeholder="--Role--">-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Password</div>
                    <div class="col-sm-8">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="--Password--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Confirm Password</div>
                    <div class="col-sm-8">
                        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" class="form-control" placeholder="--Confirm Password--">
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>Pay Roll#</td>
                            <td>Name</td>
                            <td>Role</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users" [ngValue]="user" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>{{user.payRollNo}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.role.roleName}}</td>
                            <td>{{user.status}}</td>
                            <td><a class="glyphicon glyphicon-pencil badge" (click)="search(user.id)">Edit</a></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
