<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Sales Receipt</h5></td>
                <td>
                    <a class="" (click)="createReceipt()" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-folder-open"></span> New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>

                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-print"></span> Print Invoice</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-remove"></span> Cancel Invoice</a>
                </td>
            </tr>
        </table>
      
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-12">
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 100mm; vertical-align: top;">
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Customer Name</td>
                                        <td style="width: 80mm;">
                                            <select [(ngModel)]="customerName" (change)="searchCustomerByName()" [disabled]="lockedCustomer" class="form-control" placeholder="--Customer Name--" style="margin: 2px;font-size: 11px; height: 5mm; padding-top: 1px;">
                                                <option></option>
                                                <option *ngFor="let customer of customersNames" [ngValue]="customer">{{customer}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" name="custId" [(ngModel)]="custId">
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Customer Code</td>
                                        <td style="width: 30mm;"><input type="text" [(ngModel)]="customerNo" [disabled]="lockedCustomer"  class="form-control" placeholder="Customer Code" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                        <td style="padding-left: 5px;"><button (click)="searchCustomerByNo()" style="height: 5mm; padding: 0px;"><span class="glyphicon glyphicon-search"></span> Search Customer</button></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 150mm; vertical-align: top;">
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 25mm; padding-left: 3mm; color: rgba(45, 42, 48, 0.658); text-align: right;">Receipt No</td>
                                        <td style="width: 40mm;"><input type="text" [(ngModel)]="receiptNo" [disabled]="true" class="form-control" placeholder="Receipt No" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                        <td style="padding-left: 2mm;">  <button type="button" data-toggle="modal" data-target="#receiptModal"><span class="glyphicon glyphicon-list"></span> Receipt List</button></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Receipt date</td>
                                        <td><input type="date" [(ngModel)]="receiptDate"  class="form-control" placeholder="Date" style="margin: 2px;padding-top: 0px;font-size: 11px; height: 5mm;  padding: 3mm;"></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 50mm; vertical-align: top;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                
                <br>
                
                
                <table>
                    <tr style="font-size: 12px;">
                        <td style="width: 35mm;color: rgba(45, 42, 48, 0.658); padding-left: 0mm; text-align: right;">Credit Balance</td>
                        <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;"><b>{{creditLimit-outstandingBalance|currency:'TSh':''}}</b></td>
                        
                    </tr>
                    
                </table>
                <table>
                    <tr style="font-size: 12px;">
                        <td style="width: 35mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Outstanding Balance</td>
                        <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;"><b>{{outstandingBalance|currency:'TSh':''}}</b></td>
                    </tr>
                    
                </table>
                <table>
                    <tr style="font-size: 12px;">
                        <td style="width: 35mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Allocation Balance</td>
                        <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;"><b>{{amountUnallocated|currency:'TSh':''}}</b></td>
                    </tr>
                    
                </table>
            </div>

            <div class="col-sm-4">
                
            </div>   
        </div>  
        <hr>   
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <span style="color: rgba(45, 42, 48, 0.658);">Payment Method</span><br>
                <input type="radio" id="cheque" name="payment_method" value="cheque" (click)="showChequePayment()">
                <label for="cheque" style="color: rgba(45, 42, 48, 0.658);"> Cheque</label><br>
                <input type="radio" id="cash" name="payment_method" value="cash" (click)="showCashPayment()">
                <label for="cash" style="color: rgba(45, 42, 48, 0.658);"> Cash</label><br>
                <input type="radio" id="creditNote" name="payment_method" value="creditNote" (click)="showCreditNotePayment()">
                <label for="creditNote" style="color: rgba(45, 42, 48, 0.658);"> Credit Note</label><br>
                <input type="radio" id="other" name="payment_method" value="other" (click)="showOtherPayment()">
                <label for="other" style="color: rgba(45, 42, 48, 0.658);"> Other</label>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12" *ngIf="chequeVisible">
                        <span style="color: rgba(45, 42, 48, 0.658);">Cheque Payment</span><br>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Cheque No</td>
                                <td style="width: 30mm;"><input type="text" [(ngModel)]="chequeNo" class="form-control" placeholder="Cheque No" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                <td style="padding-left: 5px;"></td>
                            </tr>
                        </table>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Bank</td>
                                <td style="width: 30mm;"><input type="text" [(ngModel)]="chequeBank" class="form-control" placeholder="Bank" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                <td style="padding-left: 5px;"></td>
                            </tr>
                        </table>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Cheque Date</td>
                                <td style="width: 30mm;"><input type="date" [(ngModel)]="chequeDate"  class="form-control" placeholder="Cheque No" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                <td style="padding-left: 5px;"></td>
                            </tr>
                        </table>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Cheque Amount</td>
                                <td style="width: 25mm;"><input type="text" [(ngModel)]="receiptAmount" class="form-control" placeholder="Amount" style="margin: 2px;font-size: 11px; height: 5mm; text-align: right;"></td>
                                <td style="width: 35mm; text-align: right; font-size: 16px; font-weight: bold; font-family: monospace;">{{receiptAmount|currency:'TSh':''}}</td>
                                <td style="padding-left: 5px;"><button (click)="saveChequeReceipt()">Receive</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12" *ngIf="cashVisible">
                        <span style="color: rgba(45, 42, 48, 0.658);">Cash Payment</span><br>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Cash Amount</td>
                                <td style="width: 25mm;"><input type="text" [(ngModel)]="receiptAmount" class="form-control" placeholder="Amount" style="margin: 2px;font-size: 11px; height: 5mm; text-align: right;"></td>
                                <td style="width: 35mm; text-align: right; font-size: 16px; font-weight: bold; font-family: monospace;">{{receiptAmount|currency:'TSh':''}}</td>
                                <td style="padding-left: 5px;"><button (click)="saveCashReceipt()">Receive</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12" *ngIf="creditNoteVisible">
                        <span style="color: rgba(45, 42, 48, 0.658);">Credit Note Payment</span><br>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Credit Note No</td>
                                <td style="width: 30mm;"><input type="text" [(ngModel)]="creditNoteNo" class="form-control" placeholder="Credit Note No" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                <td style="width: 30mm; text-align: right;">{{creditNoteAmount|currency:'TSh':''}}</td>
                                <td style="padding-left: 5px;"><button (click)="loadCreditNote()">Load Cr Note</button></td>
                            </tr>
                        </table>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Credit Note Amount</td>
                                <td style="width: 25mm;"><input type="text" [(ngModel)]="receiptAmount" class="form-control" placeholder="Amount" style="margin: 2px;font-size: 11px; height: 5mm; text-align: right;"></td>
                                <td style="width: 35mm; text-align: right; font-size: 16px; font-weight: bold; font-family: monospace;">{{receiptAmount|currency:'TSh':''}}</td>
                                <td style="padding-left: 5px;"><button (click)="saveCreditNoteReceipt()">Receive</button></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12" *ngIf="otherVisible">
                        <span style="color: rgba(45, 42, 48, 0.658);">Other Payment</span><br>
                        <table>
                            <tr style="font-size: 12px;">
                                <input type="hidden" >
                                <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Amount</td>
                                <td style="width: 25mm;"><input type="text" [(ngModel)]="receiptAmount" class="form-control" placeholder="Amount" style="margin: 2px;font-size: 11px; height: 5mm; text-align: right;"></td>
                                <td style="width: 35mm; text-align: right; font-size: 16px; font-weight: bold; font-family: monospace;">{{receiptAmount|currency:'TSh':''}}</td>
                                <td style="padding-left: 5px;"><button (click)="saveOtherReceipt()">Receive</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<!-- Modal -->
<div id="receiptModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Receipts for <b>(10001) Akili Ltd</b></h5>
      </div>
      <div class="modal-body">
        <table id="data-table" style="font-size: 13px;display: block; height: 150px; width: 100%; overflow-y: auto;overflow-x: auto;"  class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
            <thead>
                <tr class="info">
                    <td style="position: sticky; top: 0;">Date#</td>
                    <td style="position: sticky; top: 0;">Receipt No</td>
                    <td style="position: sticky; top: 0;">Payment Type</td>
                    <td style="position: sticky; top: 0;">Amount</td>
                </tr>
            </thead>
            <tbody >
                <!--<tr *ngFor="let lpo of lpos" [ngValue]="lpo" style="font-size: 12px;">
                    <td>{{lpo.lpoNo}}</td>
                    <td>{{lpo.lpoDate}}</td>
                    <td>{{lpo.status}}</td>
                    <td><a class="badge badge-default" (click)="searchLpo(lpo.lpoNo)">Select</a></td>
                </tr>-->
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</div>

  