<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Cashier Variance</h5></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-print"></span> Print</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well" style="padding: 5px;">
        
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info"  style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>Till</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>01</td>
                            <td>100,000.00</td>
                        </tr>
                        <tr style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>01</td>
                            <td>100,000.00</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>