<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Printed LPO</h3>      
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-3">
                From
                <input type="date" class="form-control">
            </div>
            <div class="col-sm-3">
                To
                <input type="date" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Run Report</button>..
                <button class="btn btn-success"><span class="glyphicon glyphicon-print"></span> Print</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>LPO#</td>
                            <td>Supplier</td>
                            <td>Created</td>
                            <td>Approved</td>
                            <td>Printed</td>
                            <td>Valid up to</td>
                            <td>Days</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>65666</td>
                            <td>(1001) ANDE AND SANILI LTD</td>
                            <td>12-11-2020 by Ali Abdallah</td>
                            <td>12-11-2020 by Rose Peter</td>
                            <td>12-11-2020 by Michio Kaku</td>
                            <td>12-12-2020</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>65666</td>
                            <td>(1001) ANDE AND SANILI LTD</td>
                            <td>12-11-2020 by Ali Abdallah</td>
                            <td>12-11-2020 by Rose Peter</td>
                            <td>12-11-2020 by Michio Kaku</td>
                            <td>12-12-2020</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>65666</td>
                            <td>(1001) ANDE AND SANILI LTD</td>
                            <td>12-11-2020 by Ali Abdallah</td>
                            <td>12-11-2020 by Rose Peter</td>
                            <td>12-11-2020 by Michio Kaku</td>
                            <td>12-12-2020</td>
                            <td>30</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>