<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Till Administration</h3>      
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-center">
                        <button type="button" class="btn btn-success" (click)="clear()" style="margin: 2px;"><span class="glyphicon glyphicon-new"></span> New</button>
                        <button type="button" class="btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                        <button type="button" class="btn btn-warning" (click)="searchTill()" style="margin: 2px; border-radius: 20px;"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Till #</div>
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="col-sm-8">
                        <input type="text" name="tillNo" [(ngModel)]="tillNo" class="form-control" placeholder="--Till No--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Computer Name</div>
                    <div class="col-sm-8">
                        <input type="text" name="computerName" [(ngModel)]="computerName" class="form-control" placeholder="--Computer Name--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Status</div>
                    <div class="col-sm-8">
                        <select [(ngModel)]="status" name="status" class="form-control" placeholder="--Role--">
                            <option></option>
                            <option>OPENED</option>
                            <option>CLOSED</option>
                            <option>SUSPENDED</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-center">
                        <button type="button" (click)="saveTill()" class="btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        <button type="button" (click)="deleteTill()" class="btn btn-danger" style="margin: 2px;"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Till #</td>
                            <td>Computer Name</td>
                            <td>Status</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let till of tills" [ngValue]="till">
                            <td>{{till.tillNo}}</td>
                            <td>{{till.computerName}}</td>
                            <td>{{till.status}}</td>
                            <td><a class="glyphicon glyphicon-pencil badge" (click)="search(till.id)">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
