<div class="panel panel-default">

    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Till Administration</h5></td>
                <td style="width:200mm">
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="clear()"><span class="glyphicon glyphicon-folder-open"></span> New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" ><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="deleteTill()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="saveTill()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-3">Till #</div>
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="col-sm-5">
                        <input type="text" name="tillNo" [(ngModel)]="tillNo" class="form-control" placeholder="--Till No--">
                    </div>
                    <div class="col-sm-4">
                        <button type="button" (click)="searchTill()" style="margin: 2px;"><span class="glyphicon glyphicon-search"></span> Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Till Name</div>
                    <div class="col-sm-8">
                        <input type="text" name="tillName" [(ngModel)]="tillName" class="form-control" placeholder="--Till Name--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Status</div>
                    <div class="col-sm-8">
                        <select [(ngModel)]="status" name="status" class="form-control" placeholder="--Role--">
                            <option></option>
                            <option>OPENED</option>
                            <option>CLOSED</option>
                            <option>SUSPENDED</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>Till #</td>
                            <td>Computer Name</td>
                            <td>Status</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let till of tills" [ngValue]="till" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>{{till.tillNo}}</td>
                            <td>{{till.tillName}}</td>
                            <td>{{till.status}}</td>
                            <td><a class="glyphicon glyphicon-pencil badge" (click)="search(till.id)">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
