<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Till Administration</h3>      
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button class="btn btn-success"><span class="glyphicon glyphicon-new"></span> New</button>..
                        <button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Edit</button>..
                        <button class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>..
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Till #</div>
                    <div class="col-sm-8"><input type="text" class="form-control"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Computer Name</div>
                    <div class="col-sm-8"><input type="text" class="form-control"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Status</div>
                    <div class="col-sm-8"><input type="text" class="form-control"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>..
                        <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>..
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Till #</td>
                            <td>Computer Name</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8674869</td>
                            <td>ALI HASSAN ABDALLAH</td>
                            <td>ACTIVE</td>
                        </tr>
                        <tr>
                            <td>8674869</td>
                            <td>ALI HASSAN ABDALLAH</td>
                            <td>ACTIVE</td>
                        </tr>
                        <tr>
                            <td>8674869</td>
                            <td>ALI HASSAN ABDALLAH</td>
                            <td>ACTIVE</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
