<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Mass Management</h3>
    </div>
    <div class="panel-body well">
       <table class="table table-striped">
           <tr>
               <td>Product Management</td>
           </tr>
           <tr>
               <td>
                   <button class="btn btn-info"><span class="glyphicon glyphicon-upload"></span> Upload Product Master</button>
                   <button class="btn btn-info"><span class="glyphicon glyphicon-download"></span> Download Product Master</button>
                   <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Update Product Master</button>
                   <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Update Prices</button>
                   <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Update Inventory</button>
               </td>
           </tr>
           <hr>
           <tr>
            <td>Supplier Management</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-info"><span class="glyphicon glyphicon-upload"></span> Upload Supplier Master</button>
                <button class="btn btn-info"><span class="glyphicon glyphicon-download"></span> Download Supplier Master</button>
                <button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Update Supplier Master</button>
            </td>
        </tr>
        <hr>
       </table>
    </div>
  </div>