<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Mass Management</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <!--<input type="file" (change)="onFileChange($event)" multiple="false">-->
            <div class="col-sm-4">
                <h3>Product Management</h3>
                <div class="alert alert-info" role="alert">Upload Product Master
                    <input type="file" multiple="false">
                </div>
                <div class="alert alert-info" role="alert">Download Product Master
                    <input type="file" multiple="false">
                </div>
                <div class="alert alert-info" role="alert">Update Product Master
                    <input type="file" multiple="false">
                </div>
                <div class="alert alert-info" role="alert">Update prices
                    <input type="file" multiple="false">
                </div>
                <div class="alert alert-info" role="alert">Update inventory
                    <input type="file" multiple="false">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Supplier Management</h3>
                <div class="alert alert-info" role="alert">Upload Supplier Master
                    <input type="file" multiple="false">
                </div>
                <div class="alert alert-info" role="alert">Download Supplier Master
                    <input type="file" multiple="false">
                </div>
                <div class="alert alert-info" role="alert">Update Supplier Master
                    <input type="file" multiple="false">
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Units Management</h3>
                
            </div>
        </div>
    </div>
  </div>