<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Till Position</h3>      
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" style="overflow-x:scroll; height: 100%;" class="table table-bordered table-condensed data-table table-hover table-responsive form-control">
                    <thead>
                        <tr class="info" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>Till#</td>
                            <td>Total</td>
                            <td>Cash</td>
                            <td>Voucher</td>
                            <td>Cheque</td>
                            <td>Deposit</td>
                            <td>Loyalty</td>
                            <td>CR Card</td>
                            <td>CAP</td>
                            <td>Invoice</td>
                            <td>CR Note</td>
                            <td>Mobile</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let till of tills" [ngValue]="till" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>{{till.tillNo}}</td>
                            <td>{{till.total}}</td>
                            <td>{{till.cash}}</td>
                            <td>{{till.voucher}}</td>
                            <td>{{till.cheque}}</td>
                            <td>{{till.deposit}}</td>
                            <td>{{till.loyalty}}</td>
                            <td>{{till.crCard}}</td>
                            <td>{{till.cap}}</td>
                            <td>{{till.invoice}}</td>
                            <td>{{till.crNote}}</td>
                            <td>{{till.mobile}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
