<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Till Position</h3>      
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" style="overflow-x:scroll; height: 100%;" class="table table-bordered table-condensed data-table table-hover table-responsive form-control">
                    <thead>
                        <tr class="info">
                            <td>Till#</td>
                            <td>Total</td>
                            <td>Cash</td>
                            <td>Voucher</td>
                            <td>Cheque</td>
                            <td>Deposit</td>
                            <td>Loyalty</td>
                            <td>CR Card</td>
                            <td>CAP</td>
                            <td>Invoice</td>
                            <td>CR Note</td>
                            <td>Mobile</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>548563</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                        </tr>
                        <tr>
                            <td>548563</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                        </tr>
                        <tr>
                            <td>548563</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                            <td>1,000,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
