<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Corporate Customers</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">Customer No</div>
            <div class="col-sm-5"><input type="text" class="form-control"></div>
            <div class="col-sm 7"><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span>Search</button></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">Name</div>
            <div class="col-sm-10"><input type="text" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">Address</div>
            <div class="col-sm-10"><input type="text" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">Tel</div>
            <div class="col-sm-10"><input type="tel" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">VAT No</div>
            <div class="col-sm-10"><input type="text" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">Credit Limit</div>
            <div class="col-sm-10"><input type="text" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">Credit Days</div>
            <div class="col-sm-10"><input type="text" class="form-control"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">Amount Due</div>
            <div class="col-sm-10">1000,000.00</div>
        </div>
        <br>
        

            
        
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save / Update</button>..
                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>..
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed data-table">
                    <thead>
                        <tr class="info">
                            <td>Cust No</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Credit Inf</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>AKILI AND COMPANY</td>
                            <td>26 Dar</td>
                            <td>Limit:20,000,000.00  Due:1,000,000.00</td>
                            <td><a class="glyphicon glyphicon-pencil">Edit</a></td>
                        </tr>
                        <tr>
                            <td>1002</td>
                            <td>ANDE GENERAL SUPPLIES</td>
                            <td>26 Dar</td>
                            <td>Limit:20,000,000.00  Due:1,000,000.00</td>
                            <td><a class="glyphicon glyphicon-pencil">Edit</a></td>
                        </tr>
                        <tr>
                            <td>1003</td>
                            <td>BUMACO FRESH FOODS AND FRUITS</td>
                            <td>26 Dar</td>
                            <td>Limit:20,000,000.00  Due:1,000,000.00</td>
                            <td><a class="glyphicon glyphicon-pencil">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         
    </div>
    
  </div>
