<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h3 class="panel-title">Corporate Customers</h3></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="clear()"><span class="glyphicon glyphicon-folder-open"></span> New/Reset</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="deleteCustomer()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="saveCustomer()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="col-sm-3">Customer No</div>
                    <div class="col-sm-4"><input type="text" name="customerNo" [(ngModel)]="customerNo" class="form-control form-control-sm" placeholder="--Customer No--"></div>
                    <div class="col-sm-4 text-center">
                        <button type="button" (click)="searchCustomer()" name="searchCustomer" style="margin: 2px; border-radius: 0px;"><span class="glyphicon glyphicon-search"></span>Search</button>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-3">Name</div>
                    <div class="col-sm-9">
                        <ng2-completer style="width: 100%;" name="customerName" [(ngModel)]="customerName" [inputClass]="'form-control form-control-inline'" [datasource]="customersNames" [minSearchLength]="1" placeholder="--Customer Name--"></ng2-completer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Contact Name</div>
                    <div class="col-sm-9">
                        <input type="text" name="contactName" [(ngModel)]="contactName" class="form-control form-control-sm" placeholder="--Contact Name--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Address</div>
                    <div class="col-sm-9">
                        <input type="text" name="address" [(ngModel)]="address" class="form-control form-control-sm" placeholder="--Address--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Tel</div>
                    <div class="col-sm-9">
                        <input type="tel" name="telephone" [(ngModel)]="telephone" class="form-control form-control-sm" placeholder="--Telephone--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">VAT No</div>
                    <div class="col-sm-9">
                        <input type="text" name="vatNo" [(ngModel)]="vatNo" class="form-control form-control-sm" placeholder="--VAT No--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Credit Limit</div>
                    <div class="col-sm-9">
                        <input type="text" name="creditLimit" [(ngModel)]="creditLimit" class="form-control form-control-sm" placeholder="--Credit Limit--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Credit Days</div>
                    <div class="col-sm-9">
                        <input type="text" name="creditDays" [(ngModel)]="creditDays" class="form-control form-control-sm" placeholder="--Credit Days--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Invoice Limit</div>
                    <div class="col-sm-9">
                        <input type="text" name="invoiceLimit" [(ngModel)]="invoiceLimit" class="form-control form-control-sm" placeholder="--Invoice Limit--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Amount Due</div>
                    <div class="col-sm-9">{{amountDue}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Disc Rate%</div>
                    <div class="col-sm-9">
                        <input type="text" name="discountRate" [(ngModel)]="discountRate" class="form-control form-control-sm" placeholder="--Discount Rate(0-100)%--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Disc From</div>
                    <div class="col-sm-9">
                        <input type="date" name="discountStartDate" [(ngModel)]="discountStartDate" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Disc To</div>
                    <div class="col-sm-9">
                        <input type="date" name="discountEndDate" [(ngModel)]="discountEndDate" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Price Margin%</div>
                    <div class="col-sm-9">
                        <input type="text" name="priceMargin" [(ngModel)]="priceMargin" class="form-control form-control-sm" placeholder="--Price Margin%--">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Disc From</div>
                    <div class="col-sm-9">
                        <input type="date" name="priceMarginStartDate" [(ngModel)]="priceMarginStartDate" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Disc To</div>
                    <div class="col-sm-9">
                        <input type="date" name="priceMarginEndDate" [(ngModel)]="priceMarginEndDate" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed data-table">
                            <thead>
                                <tr class="info" style="font-size: 11px;">
                                    <td>Cust No</td>
                                    <td>Name</td>
                                    <td>Contact Name</td>
                                    <td>Contact</td>
                                    <td>Credit Inf</td>
                                    <td>Discount%</td>
                                    <td>Price Margin%</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers" [ngValue]="customer" style="font-size: 11px;">
                                    <td>{{customer.customerNo}}</td>
                                    <td>{{customer.customerName}}</td>
                                    <td>{{customer.contactName}}</td>
                                    <td>{{customer.address}}</td>
                                    <td>{{customer.creditDays}} days</td>
                                    <td>{{customer.discountRate}}%  [{{customer.discountStartDate}} {{customer.discountEndDate}}]</td>
                                    <td>{{customer.priceMargin}}%  [{{customer.priceMarginStartDate}} {{customer.priceMarginEndDate}}]</td>
                                    <td><a class="glyphicon glyphicon-pencil badge" (click)="search(customer.id)">Select</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
  </div>
