<body>
    <div class="ch-container">
        <div class="row">
            <div class="row">
                <div class="col-md-12 center login-header">
                    <img alt="Logo" src="img/LHRC2.jpg" width="8%" height="100%" />
                    <span class="text text-info"><b>ORBIX</b></span>
                </div>
            </div>
            <div class="row">
                <div class="well col-md-4 center login-box">
                    <div class="alert alert-info">
                        Please login with your Username and Password.
                    </div>
                    <form class="form-horizontal" action="process_login.php" method="post">
                        <fieldset>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="clearfix"></div><br>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <p class="center col-md-5">
                                <button type="button" class="btn btn-primary">Login</button>
                            </p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <footer class="footer bg-black-1">
               <div class="">
               <p class="text-center"><span class="text text-danger">&copy;Orbix BO<sup> &reg;</sup> 2020. All rights reserved</span><span class="text text-info"></span><span></span></p>
                 
               </div>
             </footer>
             </div>
    </div>
</body>