<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Receipt</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        Receipt#:
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        Till#:
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                Select Date Range
                <div class="row">
                    <div class="col-sm-6">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <input type="date" class="form-control">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-info"><span class="glyphicon glyphicon-filter"></span>Filter</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-sm-8">
                Bill List
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Bill#</td>
                            <td>Till#</td>
                            <td>Receipt#</td>
                            <td>Date</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BL-00032</td>
                            <td>001</td>
                            <td>0020</td>
                            <td>12-11-2020</td>
                            <td>100,000.00</td>
                        </tr>
                        <tr>
                            <td>BL-00032</td>
                            <td>001</td>
                            <td>0020</td>
                            <td>12-11-2020</td>
                            <td>100,000.00</td>
                        </tr>
                        <tr>
                            <td>BL-00032</td>
                            <td>001</td>
                            <td>0020</td>
                            <td>12-11-2020</td>
                            <td>100,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>Bill Particulars</p>
        <p>Bill#: BL0011, Till#: 001, Receipt#: 1001 <button class="btn btn-success"><span class="glyphicon glyphicon-print"></span> Print</button></p>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Item Code</td>
                            <td>Descr</td>
                            <td>Qty</td>
                            <td>Price@</td>
                            <td>Amount</td>
                            <td>Disc</td>
                            <td>Tax</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>15687</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>5</td>
                            <td>1,000.00</td>
                            <td>5,000.00</td>
                            <td>0.00</td>
                            <td>180.00</td>
                        </tr>
                        <tr>
                            <td>15687</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>5</td>
                            <td>1,000.00</td>
                            <td>5,000.00</td>
                            <td>0.00</td>
                            <td>180.00</td>
                        </tr>
                        <tr>
                            <td>15687</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>5</td>
                            <td>1,000.00</td>
                            <td>5,000.00</td>
                            <td>0.00</td>
                            <td>180.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
