<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h3 class="panel-title">Product Inquiry</h3></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 13px;" (click)="clear()"><span class="glyphicon glyphicon-remove"></span> Clear</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-2">
                Item Code 
                <input type="hidden" name="id" [(ngModel)]="id">
                <input type="text" id="tags" name="itemCode" [(ngModel)]="itemCode" class="form-control" placeholder="--Item Code--">
            </div>
            <div class="col-sm-2">
                Barcode
                <input type="text" name="primaryBarcode" [(ngModel)]="primaryBarcode" class="form-control" placeholder="--Barcode--">
            </div>
            <div class="col-sm-5">
                Description
                <input type="text" class="form-control" #des [(ngModel)]="longDescription" name="longDescription" list="description" style=" font-size: 11px; padding: 0px; border-top:white; border-left:white; border-right:white;">

                <!--<ng2-completer style="width: 100%;" name="longDescription" [(ngModel)]="longDescription" [inputClass]="'form-control form-control-inline'" [datasource]="items" [minSearchLength]="1" placeholder="--Long Description--"></ng2-completer>-->
            </div>
            <datalist id="description" style="padding: 0px;">
                <option *ngFor="let d of items" [ngValue]="d">{{d}}</option>
            </datalist>
            <div class="col-sm-3">
                <br>
                <button type="button" (click)="searchItem()" style="margin: 2px; border-radius: 0px;"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Item Code:</b>
            </div>
            <div class="col-sm-6">
                {{itemCode}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Barcode:</b>
            </div>
            <div class="col-sm-6">
                {{primaryBarcode}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Long Description:</b>
            </div>
            <div class="col-sm-6">
                {{longDescription}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Short Description:</b>
            </div>
            <div class="col-sm-6">
                {{shortDescription}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Pack Size:</b>
            </div>
            <div class="col-sm-6">
                {{packSize}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Supplier:</b>
            </div>
            <div class="col-sm-6">
                {{supplierName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Dept:</b>
            </div>
            <div class="col-sm-6">
                {{departmentName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Class:</b>
            </div>
            <div class="col-sm-6">
                {{clasName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Sub Class:</b>
            </div>
            <div class="col-sm-6">
                {{subClassName}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Cost Price @:</b>
            </div>
            <div class="col-sm-6">
                {{unitCostPrice|currency:'TSh':''}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Retail Price @:</b>
            </div>
            <div class="col-sm-6">
                {{unitRetailPrice|currency:'TSh':''}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Profit Margin(%):</b>
            </div>
            <div class="col-sm-6">
                {{profitMargin}}%
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Standard UOM:</b>
            </div>
            <div class="col-sm-6">
                {{standardUom}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>VAT(%):</b>
            </div>
            <div class="col-sm-6">
                {{vat}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Discount(%):</b>
            </div>
            <div class="col-sm-6">
                {{discount}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Quantity:</b>
            </div>
            <div class="col-sm-6">
                {{quantity}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Maximum Inventory:</b>
            </div>
            <div class="col-sm-6">
                {{maximumInventory}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Minimum Inventory:</b>
            </div>
            <div class="col-sm-6">
                {{minimumInventory}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Default Re Order Level:</b>
            </div>
            <div class="col-sm-6">
                {{defaultReOrderLevel}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="text-align: right;">
                <b>Re Order Quantity:</b>
            </div>
            <div class="col-sm-6">
                {{reOrderQuantity}}
            </div>
        </div>
    </div>
  </div>


  