<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Product Inquiry</h3>
    </div>
    <div class="panel-body">
        <form class="">
            <div class="row">
                <div class="col-sm-2">
                    Item Code 
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    Barcode
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-6">
                    Description
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                Item Code:
            </div>
            <div class="col-sm-6">
                21659236
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Barcode:
            </div>
            <div class="col-sm-6">
                25497454464596156
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Long Description:
            </div>
            <div class="col-sm-6">
                LINGUINI FRESH FRUIT SALAD SOUP
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Short Description:
            </div>
            <div class="col-sm-6">
                LINGUINI SOUP
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Pack Size:
            </div>
            <div class="col-sm-6">
                N/A
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Supplier:
            </div>
            <div class="col-sm-6">
                ANDE AND SANILI FOOD PRODUCTS
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Dept:
            </div>
            <div class="col-sm-2">
                Food and Beverages
            </div>
            <div class="col-sm-2">
                Class:
            </div>
            <div class="col-sm-2">
                Food and Beverages
            </div>
            <div class="col-sm-2">
                Sub Class:
            </div>
            <div class="col-sm-2">
                Food and Beverages
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Cost Price @:
            </div>
            <div class="col-sm-6">
                12,000.00
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Retail Price @:
            </div>
            <div class="col-sm-6">
                15,000.00
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Profit Margin(%):
            </div>
            <div class="col-sm-6">
                25
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Standard UOM:
            </div>
            <div class="col-sm-6">
                PCS
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                VAT(%):
            </div>
            <div class="col-sm-6">
                18
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Discount(%):
            </div>
            <div class="col-sm-6">
                0.0
            </div>
        </div>
    </div>
  </div>