<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Product Inquiry</h3>
    </div>
    <div class="panel-body">
        <form class="">
            <div class="row">
                <div class="col-sm-2">
                    Item Code 
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <input type="text" id="tags" name="itemCode" [(ngModel)]="itemCode" class="form-control">
                </div>
                <div class="col-sm-2">
                    Barcode
                    <input type="text" name="primaryBarcode" [(ngModel)]="primaryBarcode" class="form-control">
                </div>
                <div class="col-sm-4">
                    Description
                    <input type="text" name="longDescription" [(ngModel)]="longDescription" class="form-control">
                </div>
                <div class="col-sm-4">
                    <br>
                    <button type="button" (click)="searchItem()" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Search</button>..
                    <button type="button" (click)="clear()" class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Clear</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                <b>Item Code:</b>
            </div>
            <div class="col-sm-6">
                {{itemCode}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Barcode:</b>
            </div>
            <div class="col-sm-6">
                {{primaryBarcode}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Long Description:</b>
            </div>
            <div class="col-sm-6">
                {{longDescription}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Short Description:</b>
            </div>
            <div class="col-sm-6">
                {{shortDescription}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Pack Size:</b>
            </div>
            <div class="col-sm-6">
                {{packSize}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Supplier:</b>
            </div>
            <div class="col-sm-6">
                {{supplier}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Dept:</b>
            </div>
            <div class="col-sm-2">
                {{department}}
            </div>
            <div class="col-sm-2">
                <b>Class:</b>
            </div>
            <div class="col-sm-2">
                {{_class}}
            </div>
            <div class="col-sm-2">
                <b>Sub Class:</b>
            </div>
            <div class="col-sm-2">
                {{subClass}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Cost Price @:</b>
            </div>
            <div class="col-sm-6">
                {{unitCostPrice}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Retail Price @:</b>
            </div>
            <div class="col-sm-6">
                {{unitRetailPrice}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Profit Margin(%):</b>
            </div>
            <div class="col-sm-6">
                {{profitMargin}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Standard UOM:</b>
            </div>
            <div class="col-sm-6">
                {{standardUom}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>VAT(%):</b>
            </div>
            <div class="col-sm-6">
                {{vat}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Discount(%):</b>
            </div>
            <div class="col-sm-6">
                {{discount}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Quantity:</b>
            </div>
            <div class="col-sm-6">
                {{quantity}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Maximum Inventory:</b>
            </div>
            <div class="col-sm-6">
                {{maximumInventory}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Minimum Inventory:</b>
            </div>
            <div class="col-sm-6">
                {{minimumInventory}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Default Re Order Level:</b>
            </div>
            <div class="col-sm-6">
                {{defaultReOrderLevel}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <b>Re Order Quantity:</b>
            </div>
            <div class="col-sm-6">
                {{reOrderQuantity}}
            </div>
        </div>
    </div>
  </div>


  