<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Vendor Credit Notes</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Order#</div>
                    <div class="col-sm-6"><input type="text" class="form-control"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">Credit Note#</div>
                    <div class="col-sm-6"><input type="text" class="form-control"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-success"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>CR Note#</td>
                            <td>Order#</td>
                            <td>Date</td>
                            <td>Amount</td>
                            <td>Status</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CCR-00032</td>
                            <td>BL-001</td>
                            <td>12-11-2020</td>
                            <td>100,000.00</td>
                            <td>PAID</td>
                            <td> refund, history, cancel</td>
                        </tr>
                        <tr>
                            <td>CCR-00032</td>
                            <td>BL-001</td>
                            <td>12-11-2020</td>
                            <td>100,000.00</td>
                            <td>PAID</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>CCR-00032</td>
                            <td>BL-001</td>
                            <td>12-11-2020</td>
                            <td>100,000.00</td>
                            <td>PAID</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>

