<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Goods Received Note (GRN)</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Order Type</div>
                    <div class="col-sm-4">
                        <select name="orderType" [(ngModel)]="orderType" class="form-control">
                            <option>LOCAL PURCHASE ORDER</option>
                            <option>TRANSFER ORDER</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Order#</div>
                    <input type="hidden" name="id" [(ngModel)]="id" class="form-control">
                    <div class="col-sm-4"><input type="text" name="orderNo" [(ngModel)]="orderNo" class="form-control" placeholder="--Order No--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Invoice#</div>
                    <div class="col-sm-4"><input type="text" name="invoiceNo" [(ngModel)]="invoiceNo" class="form-control" placeholder="--Invoice No--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4"><button class="btn btn-success form-control" (click)="createGrn()"><span class="glyphicon glyphicon-ok"></span> Create</button></div>
                </div>
            </div>
            <div class="col-sm-6">
                <span>Summary</span>
                <table>
                    <tr>
                        <td>Grn no:</td>
                        <td>{{grnNo}}</td>
                    </tr>
                    <tr>
                        <td>Order type:</td>
                        <td>{{orderType}}</td>
                    </tr>
                    <tr>
                        <td>Order no:</td>
                        <td>{{orderNo}}</td>
                    </tr>
                    <tr>
                        <td>Invoice no:</td>
                        <td>{{invoiceNo}}</td>
                    </tr>
                    <tr>
                        <td>Invoice no:</td>
                        <td>{{invoiceNo}}</td>
                    </tr>
                    <tr>
                        <td>Date  :</td>
                        <td>{{grnDate}}</td>
                    </tr>
                    <tr>
                        <td>Vendor:</td>
                        <td>(1001) ANDE AND SANILI</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Code</td>
                            <td>Descr</td>
                            <td>Qty Ord</td>
                            <td>Qty Rcvd</td>
                            <td>Client CP@</td>
                            <td>Supplier CP@</td>
                            <td>Lot No</td>
                            <td>Expiry Date</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grnDetail of grnDetails" [ngValue]="grnDetail">
                            <td>{{grnDetail.itemCode}}</td>
                            <td>{{grnDetail.description}}</td>
                            <td>{{grnDetail.qtyOrdered}}</td>
                            <td><input type="text" style="border-width: 1px; background-color: transparent;width: 50px;" [(ngModel)]="grnDetail.qtyReceived"></td>
                            <td style="text-align: right;">{{grnDetail.clientCostPrice|currency:'TSh':''}}</td>
                            <td style="text-align: right;"><input type="text" style="border-width: 1px; background-color: transparent;width: 100px; text-align: right;" [(ngModel)]="grnDetail.supplierCostPrice"></td>
                            <td><input type="text" style="border-width: 1px; background-color: transparent;width: 100px;" [(ngModel)]="grnDetail.lotNo"></td>
                            <td><input type="date" style="border-width: 1px; background-color: transparent;width: 120px;" [(ngModel)]="grnDetail.expiryDate"></td>
                            <td>{{grnDetail.status}}</td>
                        </tr>
                    </tbody>
                </table>
                {{ grnDetails | json }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" (click)="receiveGoods(grnDetails)"><span class="glyphicon glyphicon-ok"></span> Receive Goods</button>
            </div>
        </div>
        
        
    </div>
  </div>
