<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Goods Received Note (GRN)</h3>
    </div>
    <div class="panel-body well" style="padding-top: 0px;">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <span>Select Order Type</span>
                        <select name="orderType" [(ngModel)]="orderType" class="form-control" style="font-size: 12px;">
                            <option></option>
                            <option>LOCAL PURCHASE ORDER</option>
                            <option>TRANSFER ORDER</option>
                        </select>
                    </div>
                    
                    <input type="hidden" name="id" [(ngModel)]="id" class="form-control">
                    <div class="col-sm-3"><input type="text" name="orderNo" [(ngModel)]="orderNo" class="form-control" placeholder="--Order No--"></div>
                    <div class="col-sm-3"><input type="text" name="invoiceNo" [(ngModel)]="invoiceNo" class="form-control" placeholder="--Invoice No--"></div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Select Receiving Date</span>
                        <input type="date" name="grnDate" [(ngModel)]="grnDate" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="btn btn-warning form-control" (click)="createGrn()" style="border-radius: 20px;"> Search/Create</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="btn btn-success form-control"> Edit</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="btn btn-danger form-control" > Delete</span>
                            </div>
                            <div class="col-sm-6">
                                <span class="btn btn-success form-control"> Save</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <span><b>Summary</b></span>
                <table style="font-size: 11px; background-color: rgb(177, 238, 238);">
                    <tr>
                        <td>Grn no:</td>
                        <td>{{grnNo}}</td>
                    </tr>
                    <tr>
                        <td>Order type:</td>
                        <td>{{orderType}}</td>
                    </tr>
                    <tr>
                        <td>Order no:</td>
                        <td>{{orderNo}}</td>
                    </tr>
                    <tr>
                        <td>Invoice no:</td>
                        <td>{{invoiceNo}}</td>
                    </tr>
                    <tr>
                        <td>Invoice no:</td>
                        <td>{{invoiceNo}}</td>
                    </tr>
                    <tr>
                        <td>Date  :</td>
                        <td>{{grnDate}}</td>
                    </tr>
                    <tr>
                        <td>Vendor:</td>
                        <td>(1001) ANDE AND SANILI</td>
                    </tr>
                </table>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-sm-6">
                
                
                
                <div class="row">
                    <div class="col-sm-2"></div>
                    
                </div>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Code</td>
                            <td>Descr</td>
                            <td>Qty Ord</td>
                            <td>Qty Rcvd</td>
                            <td>Client CP@</td>
                            <td>Supplier CP@</td>
                            <td>Lot No</td>
                            <td>Expiry Date</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grnDetail of grnDetails" [ngValue]="grnDetail">
                            <td>{{grnDetail.itemCode}}</td>
                            <td>{{grnDetail.description}}</td>
                            <td>{{grnDetail.qtyOrdered}}</td>
                            <td><input type="text" style="border-width: 1px; background-color: transparent;width: 50px;" [(ngModel)]="grnDetail.qtyReceived"></td>
                            <td style="text-align: right;">{{grnDetail.clientCostPrice|currency:'TSh':''}}</td>
                            <td style="text-align: right;"><input type="text" style="border-width: 1px; background-color: transparent;width: 100px; text-align: right;" [(ngModel)]="grnDetail.supplierCostPrice"></td>
                            <td><input type="text" style="border-width: 1px; background-color: transparent;width: 100px;" [(ngModel)]="grnDetail.lotNo"></td>
                            <td><input type="date" style="border-width: 1px; background-color: transparent;width: 130px;" [(ngModel)]="grnDetail.expiryDate"></td>
                            <td>{{grnDetail.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--{{ grnDetails | json }}-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" (click)="receiveGoods(grnDetails)"><span class="glyphicon glyphicon-ok"></span> Receive Goods</button>
            </div>
        </div>
        
        
    </div>
  </div>
