<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Sales Return (SRT)</h5></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" (click)="createSalesReturn()" ><span class="glyphicon glyphicon-folder-open"></span> New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" (click)="confirmReturn()" ><span class="glyphicon glyphicon-ok"></span> Confirm Return</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-12">
                <table style="font-size: 13px;" >
                    <thead>
                        <tr>
                            <td style="width: 100mm; vertical-align: top;">
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" [(ngModel)]="invoiceId">
                                        <td style="width: 20mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Invoice No</td>
                                        <td style="width: 35mm;"><input type="text" [(ngModel)]="invoiceNo" [disabled]="lockedInvoice" class="form-control" placeholder="Invoice No" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                        <td style="padding-left: 5px;"><button  style="height: 5mm; padding: 0px;" (click)="searchInvoice(invoiceNo)" ><span class="glyphicon glyphicon-search"></span> Search</button></td>
                                        <td style="padding-left: 5px;"><button type="button" data-toggle="modal" data-target="#lpoModal"><span class="glyphicon glyphicon-list"></span> SRT</button></td>
                                    </tr>
                                </table>
                                <table>
                                    <tbody style="font-size: 12px;">
                                        <tr>
                                            <td style="width: 20mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Inv No</td>
                                            <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); padding-left: 2mm;">{{invoiceNo}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Inv Date</td>
                                            <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); padding-left: 2mm;">{{invoiceDate}}</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 20mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Inv Amount</td>
                                            <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); padding-left: 2mm; text-align: right;">{{invoiceAmount|currency:'TSh':''}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="width: 200mm; vertical-align: top;">
                                
                                <table class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                                    <thead>
                                        <tr style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                                            <td>Barcode</td>
                                            <td>Item Code</td>
                                            <td>Description</td>
                                            <td>Price@</td>
                                            <td>Purchased</td>
                                            <td>Returned</td>
                                            <td>Remaining</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let invoiceDetail of invoiceDetails" [ngValue]="invoiceDetail" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                                            <td>{{invoiceDetail.barcode}}</td>
                                            <td>{{invoiceDetail.itemCode}}</td>
                                            <td>{{invoiceDetail.description}}</td>
                                            <td style="padding-right: 3mm;text-align: right;">{{invoiceDetail.price|currency:'TSh':''}}</td>
                                            <td>{{invoiceDetail.qty}}</td>
                                            <td>{{invoiceDetail.qtyReturned}}</td>
                                            <td>{{invoiceDetail.qty-invoiceDetail.qtyReturned}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table"  style="font-size: 13px;" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info"  style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>Barcode</td>
                            <td>Item Code</td>
                            <td>Descr</td>
                            <td>Qty</td>
                            <td>Reason</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let salesReturnDetail of salesReturnDetails" [ngValue]="salesReturnDetail" style="height: 6mm;">
                            <td>{{salesReturnDetail.barcode}}</td>
                            <td>{{salesReturnDetail.itemCode}}</td>
                            <td>{{salesReturnDetail.description}}</td>
                            <td>{{salesReturnDetail.qtyReturned}}</td>
                            <td>{{salesReturnDetail.reason}}</td>
                            <td>
                                <a (click)="searchSalesReturnDetail(salesReturnDetail.detailId)" style="cursor: pointer; margin-right: 30px;"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                <a (click)="deleteSalesReturnDetail(salesReturnDetail.detailId)" style="cursor: pointer; margin-right: 30px;"><span class="glyphicon glyphicon-trash text-danger"></span> Remove</a>
                            </td>
                        </tr>

                        <tr>
                            <input type="hidden" name="rtvDetailId" >
                            <td style="width: 30mm; padding: 0mm;"><input class="form-control" [(ngModel)]="barcode" style="width: 30mm; font-size: 12px; padding: 0px; border: white;" type="text" name="barcode" ></td>
                            <td style="width: 30mm; padding: 0mm;"><input class="form-control" [(ngModel)]="itemCode" style="width: 30mm; font-size: 12px; padding: 0px; border: white;" type="text" name="itemCode" ></td>
                            <td style="width: 100mm; padding: 0mm;"><input class="form-control" [(ngModel)]="description" [disabled]="lockedDescription" #des list="description" type="text" (keydown.enter)="searchItemByDescription(description)" type="text" #des   style="width: 100mm; font-size: 12px; padding: 0px;  border: white;"></td>
                            <td style="width: 30mm; padding: 0mm;"><input class="form-control" [(ngModel)]="qty" style="width: 30mm; font-size: 12px; padding: 0px; border-width: 2px; border: white; text-align: center;" type="number" name="qty" ></td>
                            <td style="width: 50mm; padding: 0mm;"><input class="form-control" [(ngModel)]="reason" type="text" name="reason" placeholder="Reason"  style="width: 50mm; font-size: 12px; padding: 0px; border: white;"></td>
                            <td style="padding: 0mm;">
                                <a class="" style="cursor: pointer; margin-right: 30px;" (click)="addDetail()"><span class="glyphicon glyphicon-cross"></span>Add</a>
                                <a class="" style="cursor: pointer; margin-right: 30px;" (click)="clearDetail()"><span class="glyphicon glyphicon-cancel"></span>Clear</a>
                            </td>
                        </tr>
                    </tbody>
                    <datalist id="description" style="padding: 0px;">
                        <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                    </datalist>
                </table>
                <!--<datalist id="description" style="padding: 0px;">
                    <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                </datalist>-->
                <!--{{ cartDetails | json }}-->
            </div>
        </div>
        
    </div>
  </div>
    <!-- Modal -->
<div id="lpoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title"><b>LPO List</b></h5>
        </div>
        <div class="modal-body">
                <table id="data-table" style="font-size: 13px;display: block; height: 150px; width: 100%; overflow-y: auto;overflow-x: auto;"  class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td style="position: sticky; top: 0;">LPO#</td>
                            <td style="position: sticky; top: 0;">Date</td>
                            <td style="position: sticky; top: 0;">Status</td>
                            <td style="position: sticky; top: 0;">Action</td>
                        </tr>
                    </thead>
                    <tbody >
                        <!--<tr *ngFor="let lpo of lpos" [ngValue]="lpo" style="font-size: 12px;">
                            <td>{{lpo.lpoNo}}</td>
                            <td>{{lpo.lpoDate}}</td>
                            <td>{{lpo.status}}</td>
                            <td><a class="badge badge-default" (click)="searchLpo(lpo.lpoNo)">Select</a></td>
                        </tr>-->
                    </tbody>
                </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

