<div id="navbar" class="sidebar-nav navbar-collapse collapse" style="margin-top:10px; border-radius: 0px;">
    <div class="nav-canvas">
        <div class="nav-sm nav nav-stacked">
  
        </div>
        <ul class="nav nav-pills nav-stacked main-menu">          
            <div class="box-header well" data-original-title="">
               <li class="nav-header"><span class="text text-info">Main Menu</span></li> 
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#masters"><span class="glyphicon glyphicon-globe">
                            </span>Masters</a>
                        </h4>
                    </div>
                    <div id="masters" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-th text-primary"></span><a routerLink="product_master">Product master</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-search text-success"></span><a routerLink="product_inquiry">Product Inquiry</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a routerLink="mass_manager">Mass Manager</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user text-success"></span><a routerLink="corporate_customers">Corporate Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-th-list text-success"></span><a routerLink="company_profile">Company Profile</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart text-success"></span><a routerLink="suppliers">Suppliers</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#orders"><span class="glyphicon glyphicon-globe">
                            </span>Orders</a>
                        </h4>
                    </div>
                    <div id="orders" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-primary"></span><a routerLink="lpo"> LPO</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-print text-primary"></span><a routerLink="print-lpo"> Print LPO</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-list-alt text-success"></span><a routerLink="list-lpo"> List LPO</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#transactions"><span class="glyphicon glyphicon-globe">
                            </span>Transactions</a>
                        </h4>
                    </div>
                    <div id="transactions" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a routerLink="grn">Goods received Note</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cd text-success"></span><a routerLink="return-by-customer">Return By Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart text-info"></span><a routerLink="return-to-vendor">Return To Vendor</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="receipt">Receipt</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="customer-credit-note">Customer Credit Notes</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="supplier-credit-note">Vendor Credit Notes</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="allocation">Allocations</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="quotation">Quotations</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="invoice-book">Invoice Book</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="sales-ledger">Sales Ledger</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="sales-journal">Sales Journal</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#f_o_reports"><span class="glyphicon glyphicon-globe">
                            </span>Front Office Reports</a>
                        </h4>
                    </div>
                    <div id="f_o_reports" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a routerLink="daily-sales-report"> Daily Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cd text-success"></span><a routerLink="z-history"> Z History</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart text-info"></span><a routerLink="cashier-variance"> Cashier Variance</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="credit-note-report"> Credit Note Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="petty-cash-report"> Petty Cash Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="credit-card-sale"> Credit Card Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="gift-voucher-sale"> Gift Voucher Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="returned-bottle"> Returned Bottles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="product-listing-report"> Product Listing Report</a>
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#b_o_reports"><span class="glyphicon glyphicon-globe">
                            </span>Back Office Reports</a>
                        </h4>
                    </div>
                    <div id="b_o_reports" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a routerLink="supply-sales-report"> Supply Sales Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cd text-success"></span><a routerLink="stock-card-report"> Stock Card Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart text-info"></span><a routerLink="supplier-stock-status"> Supplier Stock Status</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="fast-moving-item"> Fast Moving Items</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="slow-moving-item"> Slow Moving Items</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="negative-stock-report"> Negative Stock Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="printed-lpo"> Printed LPO</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="pending-lpo"> Pending LPO</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="grn-report"> GRN Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="price-change-report"> Price Change Report</a>
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#admin"><span class="glyphicon glyphicon-globe">
                            </span>Admin Functions</a>
                        </h4>
                    </div>
                    <div id="admin" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a routerLink="access-control"> Access Control</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cd text-success"></span><a routerLink="user-enrolment"> User Enrolment</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart text-info"></span><a routerLink="biometric-enrolment"> Biometric Enrolment</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="persona-enrolment"> Persona Enrolment</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="till-administration"> Till Administration</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="till-position"> Till Position</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="department"> Department</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="class"> Class</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-book text-success"></span><a routerLink="sub-class"> Sub Class</a>
                                    </td>
                                </tr>
                                
                               
                            </table>
                        </div>
                    </div>
                </div>



                    
                    
            </div>
        </ul>
    </div>
</div>
            
