<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td style="width: 390mm;">
                        <app-header></app-header>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table>
                <tr>
                    <td style="width: 60mm; vertical-align: top;">
                        <app-sidebar></app-sidebar>
                    </td>
                    <td style="width: 330mm; vertical-align: top;">
                        <router-outlet></router-outlet>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>

