<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h3 class="panel-title">Suppliers</h3></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="clear()"><span class="glyphicon glyphicon-folder-open"></span> Reset/New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="deleteSupplier()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="saveSupplier()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-2"> Code</div>
            <input type="hidden" name="id" [(ngModel)]="id">
            <div class="col-sm-4"><input type="text" name="supplierCode" [(ngModel)]="supplierCode" class="form-control form-control-sm" placeholder="--Supplier Code--"></div>
            <div class="col-sm 8" style="padding-top: 3px;">
                <button type="button" (click)="searchSupplier()" name="searchSupplier" class="btn btn-warning" style="margin: 2px;border-radius: 20px;"><span class="glyphicon glyphicon-search"></span>Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">Company Name</div>
            <div class="col-sm-10">
                <ng2-completer style="width: 100%;" name="supplierName" [(ngModel)]="supplierName" [inputClass]="'form-control form-control-inline'" [datasource]="suppliersNames" [minSearchLength]="1" placeholder="--Company Name--"></ng2-completer>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">Contact Name</div>
            <div class="col-sm-10"><input type="text" name="contactName" [(ngModel)]="contactName" class="form-control" placeholder="--Contact Name--"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">TIN</div>
            <div class="col-sm-10"><input type="text" name="tin" [(ngModel)]="tin"  class="form-control" placeholder="--TIN--"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">VRN</div>
            <div class="col-sm-10"><input type="text" name="vrn" [(ngModel)]="vrn" class="form-control" placeholder="--VRN--"></div>
        </div>
        <div class="row">
            <div class="col-sm-2">Terms of Payment</div>
            <div class="col-sm-10"><input type="text" name="termsOfPayment" [(ngModel)]="termsOfPayment"  class="form-control" placeholder="--Terms of Payment--"></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">Postal Addr</div>
                    <div class="col-sm-8"><input type="text" name="postAddress" [(ngModel)]="postAddress"  class="form-control" placeholder="--Postal Address--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Postal Code</div>
                    <div class="col-sm-8"><input type="text" name="postCode" [(ngModel)]="postCode"  class="form-control" placeholder="--Postal Code--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Physical Addr</div>
                    <div class="col-sm-8"><input type="text" name="physicalAddress" [(ngModel)]="physicalAddress"  class="form-control" placeholder="--Physical Address--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Tel</div>
                    <div class="col-sm-8"><input type="tel" name="telephone" [(ngModel)]="telephone"  class="form-control" placeholder="--Telephone--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Mob</div>
                    <div class="col-sm-8"><input type="tel" name="mobile" [(ngModel)]="mobile"  class="form-control" placeholder="--Mobile--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Email</div>
                    <div class="col-sm-8"><input type="email" name="email" [(ngModel)]="email"  class="form-control" placeholder="--Email--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Fax</div>
                    <div class="col-sm-8"><input type="tel" name="fax" [(ngModel)]="fax"  class="form-control" placeholder="--Fax--"></div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">Bank Acc Name</div>
                    <div class="col-sm-8"><input type="text" name="bankAccountName" [(ngModel)]="bankAccountName"  class="form-control" placeholder="--Bank Account Number--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Bank Acc Addr</div>
                    <div class="col-sm-8"><input type="text" name="bankPostAddress" [(ngModel)]="bankPostAddress"  class="form-control" placeholder="--Bank Account Address--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Bank Post Code</div>
                    <div class="col-sm-8"><input type="text" name="bankPostCode" [(ngModel)]="bankPostCode"  class="form-control" placeholder="--Bank Post Code--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Bank Name</div>
                    <div class="col-sm-8"><input type="text" name="bankName" [(ngModel)]="bankName"  class="form-control" placeholder="--Bank Name--"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Bank Acc No</div>
                    <div class="col-sm-8"><input type="text" name="bankAccountNo" [(ngModel)]="bankAccountNo"  class="form-control" placeholder="--Bank Account Number--"></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed data-table table-hover">
                    <thead>
                        <tr class="info">
                            <td>Code</td>
                            <td>Company Name</td>
                            <td>Contact Name</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let supplier of suppliers" [ngValue]="supplier">
                            <td>{{supplier.supplierCode}}</td>
                            <td>{{supplier.supplierName}}</td>
                            <td>{{supplier.contactName}}</td>
                            <td><a class="glyphicon glyphicon-pencil badge" (click)="search(supplier.id)">Select</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
