<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Customer Invoice</h5></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-folder-open"></span> New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>

                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-print"></span> Print Invoice</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-remove"></span> Cancel Invoice</a>
                </td>
            </tr>
        </table>
      
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-6">
                <table>
                    <tr style="font-size: 12px;">
                        <input type="hidden" >
                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658);">Invoice No</td>
                        <td style="width: 30mm;"><input type="text"  class="form-control" placeholder="Invoice No" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                        <td style="padding-left: 5px;"><button  style="height: 5mm; padding: 0px;"><span class="glyphicon glyphicon-search"></span> Search Invoice</button></td>
                    </tr>
                </table>
                <table>
                    <tr style="font-size: 12px;">
                        <input type="hidden" >
                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658);">Customer Code</td>
                        <td style="width: 30mm;"><input type="text"  class="form-control" placeholder="Customer Code" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                        <td style="padding-left: 5px;"><button  style="height: 5mm; padding: 0px;"><span class="glyphicon glyphicon-search"></span> Search Customer</button></td>
                    </tr>
                </table>
                <table>
                    <tr style="font-size: 12px;">
                        <input type="hidden"  class="form-control" placeholder="Supplier" readonly="true" style="margin: 2px;border-width: 0px;">
                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658);">Customer Name</td>
                        <td style="width: 80mm;">
                            <select class="form-control" placeholder="--Customer Name--" style="margin: 2px;font-size: 11px; height: 5mm;">
                                <option></option>
                                <option  ></option>
                            </select>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr style="font-size: 12px;">
                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658);">Invoice date</td>
                        <td><input type="date"   class="form-control" placeholder="Date" style="margin: 2px;padding-top: 0px;font-size: 11px; height: 5mm;"></td>
                    </tr>
                </table>
            </div>

            <div class="col-sm-6">
                <div class="panel panel-default" style="border-radius: 0px;">
                    <div class="panel-heading" style="height: 5mm; padding: 0px;" >
                        <span class="panel-title" style="font-size: 12px;">
                            <a data-toggle="collapse" data-parent="#accordion" href="#invoice_list"><span class="glyphicon glyphicon-list-alt"></span>Invoice List for Akili Co Ltd</a>
                        </span>
                    </div>
                    <div id="invoice_list" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table id="data-table" style="font-size: 13px;display: block; height: 150px; width: 100%; overflow-y: auto;overflow-x: auto;"  class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                                <thead>
                                    <tr class="info">
                                        <td style="position: sticky; top: 0;">Invoice#</td>
                                        <td style="position: sticky; top: 0;">Invoice Date</td>
                                        <td style="position: sticky; top: 0;">Amount</td>
                                        <td style="position: sticky; top: 0;">Status</td>
                                        <td style="position: sticky; top: 0;">Select</td>
                                    </tr>
                                </thead>
                                <tbody >
                                    <!--<tr *ngFor="let lpo of lpos" [ngValue]="lpo" style="font-size: 12px;">
                                        <td>{{lpo.lpoNo}}</td>
                                        <td>{{lpo.lpoDate}}</td>
                                        <td>{{lpo.status}}</td>
                                        <td><a class="badge badge-default" (click)="searchLpo(lpo.lpoNo)">Select</a></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>   
        </div>     
        <div class="row">
            <div class="col-sm-12">
                <table datatable="" id="data-table" style="font-size: 13px;" class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td >Barcode</td>
                            <td>Code</td>
                            <td>Descr</td>
                            <td>Qty</td>
                            <td>Price</td>
                            <td>Amount</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="margin-top: 2px;margin-bottom: 2px; background-color: rgb(192, 158, 175); font-size: 11px;">
                            <!--<input type="hidden" name="lpoDetailId" [(ngModel)]="lpoDetailId">-->
                            <td><input style="max-width: 25mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;" type="text" name="barcode" ></td>
                            <td><input style="max-width: 25mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;" type="text" name="itemCode" ></td>
                            <td><input type="text"  style="width: 120mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;"></td>
                            <td style="text-align: center;"><input style="max-width: 20mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;" type="number" ></td>
                            <td style=" text-align: right;"></td>
                            <td style=" text-align: right;"></td>
                            <td>
                                <a class="" style="cursor: pointer; margin-right: 30px;" >Add</a>
                                <a class="" style="cursor: pointer; margin-right: 30px;" >Clear</a>
                            </td>
                        </tr>


                        

                        <!--<tr *ngFor="let lpoDetail of lpoDetails" [ngValue]="lpoDetail" style="margin-top: 2px;margin-bottom: 2px;font-size: 11px;">
                            <td>{{lpoDetail.barcode}}</td>
                            <td>{{lpoDetail.itemCode}}</td>
                            <td>{{lpoDetail.description}}</td>
                            <td>{{lpoDetail.qtyOrdered}}</td>
                            <td style="text-align: right;">{{lpoDetail.qtyOrdered}} * @{{lpoDetail.clientCostPrice|currency:'TSh':''}} ~ {{lpoDetail.qtyOrdered*lpoDetail.clientCostPrice|currency:'TSh':''}}</td>
                            <td style="text-align: right;">{{lpoDetail.qtyOrdered}} * @{{lpoDetail.sellingPrice|currency:'TSh':''}} ~ {{lpoDetail.qtyOrdered*lpoDetail.sellingPrice|currency:'TSh':''}}</td>
                            <td style="text-align: right;">{{lpoDetail.qtyOrdered*(lpoDetail.sellingPrice-lpoDetail.clientCostPrice)|currency:'TSh':''}}</td>
                            <td>
                                <a style="cursor: pointer;" (click)="searchLpoDetail(lpoDetail.id)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                                <a style="cursor: pointer;" (click)="deleteLpoDetail(lpoDetail.id)"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                            </td>
                        </tr>
                        <hr>

                        <tr style="margin-top: 2px;margin-bottom: 2px; background-color: rgb(192, 158, 175); font-size: 11px;">
                            <input type="hidden" name="lpoDetailId" [(ngModel)]="lpoDetailId">
                            <td><input style="max-width: 25mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;" type="text" name="barcode" (keydown.enter)="searchItemByBarcode(barcode)" [(ngModel)]="barcode" [readonly]="lockedItem"></td>
                            <td><input style="max-width: 25mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;" type="text" name="itemCode" (keydown.enter)="searchItemByItemCode(itemCode)" [(ngModel)]="itemCode" [readonly]="lockedItem"></td>
                            <td><input type="text" #des [(ngModel)]="description" list="description" (keydown.enter)="searchItemByDescription(description)" style="width: 120mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;"></td>
                            <td style="text-align: center;"><input style="max-width: 20mm; font-size: 11px; padding: 0px; border-width: 2px; border-top:white; border-left:white; border-right:white;" type="number" name="qtyOrdered" [(ngModel)]="qtyOrdered"></td>
                            <td style=" text-align: right;">{{qtyOrdered}} * @{{clientCostPrice|currency:'TSh':''}} ~ {{qtyOrdered*clientCostPrice|currency:'TSh':''}}</td>
                            <td style=" text-align: right;">{{qtyOrdered}} * @{{sellingPrice|currency:'TSh':''}} ~ {{qtyOrdered*sellingPrice|currency:'TSh':''}}</td>
                            <td style=" text-align: right;">{{(sellingPrice-clientCostPrice)*qtyOrdered|currency:'TSh':''}}</td>
                            <td>
                                <a class="" style="cursor: pointer; margin-right: 30px;" (click)="saveLpoDetail()">Add</a>
                                <a class="" style="cursor: pointer; margin-right: 30px;" (click)="clearItem()">Clear</a>
                            </td>
                        </tr>-->
                        
                        
                    </tbody>
                </table>
                <!--<datalist id="description" style="padding: 0px;">
                    <option *ngFor="let d of descriptions" [ngValue]="d">{{d}}</option>
                </datalist>-->
                <!--{{ cartDetails | json }}-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span style="font-size: 12px;">
                <b>Summary</b>
                
            </span>
        </div>
    </div>
</div>

  