<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Local Purchase Order (LPO)<span class="badge" (click)="refresh()" style="margin: 2px;"><span class="glyphicon glyphicon-refresh"></span></span>
    </h3>
    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="newLpo()"><span class="glyphicon glyphicon-folder-open"></span> New</a>
    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="editLpo()"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    <a class="" style="cursor: pointer; margin-right: 30px;"><span class="glyphicon glyphicon-trash"></span> Delete</a>
    <a class="" style="cursor: pointer; margin-right: 30px;"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a> |

    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="approveLpo(lpoNo)"><span class="glyphicon glyphicon-ok"></span> Approve</a>
    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="printLpo(lpoNo)"><span class="glyphicon glyphicon-print"></span> Print</a>
    <a class="" style="cursor: pointer; margin-right: 30px;"><span class="glyphicon glyphicon-print"></span> With cost</a>
    <a class="" style="cursor: pointer; margin-right: 30px;" (click)="cancelLpo(lpoNo)"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-7">
                        <input type="hidden" name="id" [(ngModel)]="id">
                        <input type="text" name="lpoNo" [(ngModel)]="lpoNo" [readonly]="lockedLpo" (dblclick)="pasteFromClipboard()" class="form-control" placeholder="Order No" style="margin: 2px;">
                    </div>
                    <div class="col-sm-5">
                        <button class="btn btn-warning" (click)="searchLpo(lpoNo)" [disabled]="lockedLpo" style="margin: 2px;border-radius: 20px;"><span class="glyphicon glyphicon-search"></span> Order</button>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12">
                        <span style="color: rgba(45, 42, 48, 0.658);">Supplier</span>
                        <input type="hidden" name="supplierCode" [(ngModel)]="supplierCode"  class="form-control" placeholder="Supplier" readonly="true" style="margin: 2px;border-width: 0px;">
                        <select [(ngModel)]="supplierName" name="supplierName" (change)="searchBySupplierName()" [disabled]="lockedSupplier" class="form-control" placeholder="--Supplier Name--">
                            <option></option>
                            <option *ngFor="let supplierName of supplierNames" [ngValue]="supplierName">{{supplierName}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <span style="color: rgba(45, 42, 48, 0.658);">Order Date</span>
                        <input type="date" name="lpoDate" [(ngModel)]="lpoDate"  class="form-control" placeholder="Date" style="margin: 2px;padding-top: 0px;">
                    </div>
                    <div class="col-sm-6">
                        <span style="color: rgba(45, 42, 48, 0.658);">Valid Until</span>
                        <input type="date"  class="form-control" placeholder="Date" style="margin: 2px;padding-top: 0px;">
                    </div>
                    
                </div>


                <!--<div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-success form-control" (click)="newLpo()" style="margin: 2px;"><span class="glyphicon glyphicon-folder-open"></span>New </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success form-control" (click)="editLpo()" style="margin: 2px;"><span class="glyphicon glyphicon-edit"></span> Edit </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-danger form-control"  style="margin: 2px;"><span class="glyphicon glyphicon-trash"></span> Delete </button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success form-control" style="margin: 2px;"><span class="glyphicon glyphicon-floppy-disk"></span> Save </button>
                    </div>
                </div>-->
            </div>
            
            <div class="col-sm-5">
                <span>LPO List</span>
                <table id="data-table" style="font-size: 13px;display: block; height: 150px; width: 100%; overflow-y: auto;overflow-x: auto;"  class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td style="position: sticky; top: 0;">LPO#</td>
                            <td style="position: sticky; top: 0;">Date</td>
                            <td style="position: sticky; top: 0;">Status</td>
                            <td style="position: sticky; top: 0;">Action</td>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let lpo of lpos" [ngValue]="lpo" style="font-size: 12px;">
                            <td>{{lpo.lpoNo}}</td>
                            <td>{{lpo.lpoDate}}</td>
                            <td>{{lpo.status}}</td>
                            <td><a class="badge badge-default" (click)="searchLpo(lpo.lpoNo)">Select</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       

        <!--<div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-default form-control" (click)="approveLpo(lpoNo)" style="margin: 3px;"><span class="glyphicon glyphicon-ok"></span> Approve</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default form-control" (click)="printLpo(lpoNo)" style="margin: 3px;"><span class="glyphicon glyphicon-print"></span> Print</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default form-control" style="margin: 3px;"><span class="glyphicon glyphicon-print"></span>With cost</button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger form-control" (click)="cancelLpo(lpoNo)"style="margin: 3px;"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>-->
        
        <div class="row">
            <div class="col-sm-1">
                <input type="hidden" name="lpoDetailId" [(ngModel)]="lpoDetailId">
                <input type="text" name="barcode" [(ngModel)]="barcode" [readonly]="lockedItem"  class="form-control" placeholder="Barcode" style="margin: 2px;">
            </div>
            <div class="col-sm-1">
                <input type="text" name="itemCode" [(ngModel)]="itemCode" [readonly]="lockedItem"  class="form-control" placeholder="Item Code" style="margin: 2px;">
            </div>
            <div class="col-sm-4">
                <ng2-completer style="width: 100%;" name="description" [(ngModel)]="description" [disabled]="lockedItem" [inputClass]="'form-control form-control-inline'" [datasource]="descriptions" [minSearchLength]="1" placeholder="--Description--"></ng2-completer>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-warning" (click)="searchItem(barcode,itemCode,description)" style="margin: 2px;border-radius: 20px;"><span class="glyphicon glyphicon-search"></span> Item</button>
            </div>
            <div class="col-sm-1">
                <input type="number" name="qtyOrdered" [(ngModel)]="qtyOrdered" class="form-control" placeholder="Qty" style="margin: 2px; border-radius: 8px;">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary form-control" (click)="saveLpoDetail()" [disabled]="lockedAdd" style="margin: 2px;border-radius: 20px;">Add/Update</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary form-control" (click)="clearItem()" style="margin: 2px;border-radius: 20px;">Clear</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <table datatable="" id="data-table" style="font-size: 13px;" class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Code</td>
                            <td>Descr</td>
                            <td>Qty</td>
                            <td>Total CP</td>
                            <td>Total SP</td>
                            <td>Profit</td>
                            <td>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lpoDetail of lpoDetails" [ngValue]="lpoDetail" style="margin-top: 2px;margin-bottom: 2px;">
                            <td>{{lpoDetail.itemCode}}</td>
                            <td>{{lpoDetail.description}}</td>
                            <td>{{lpoDetail.qtyOrdered}}</td>
                            <td style="text-align: right;">{{lpoDetail.qtyOrdered}} * @{{lpoDetail.clientCostPrice|currency:'TSh':''}} = {{lpoDetail.qtyOrdered*lpoDetail.clientCostPrice|currency:'TSh':''}}</td>
                            <td style="text-align: right;">{{lpoDetail.qtyOrdered}} * @{{lpoDetail.sellingPrice|currency:'TSh':''}} = {{lpoDetail.qtyOrdered*lpoDetail.sellingPrice|currency:'TSh':''}}</td>
                            <td style="text-align: right;">{{lpoDetail.qtyOrdered*(lpoDetail.sellingPrice-lpoDetail.clientCostPrice)|currency:'TSh':''}}</td>
                            <td>
                                <button type="button" class="btn btn-default btn-small" (click)="searchLpoDetail(lpoDetail.id)" style="border-radius: 10px;margin: 1px;padding: 2px;font-size: 10px;"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                <button type="button" class="btn btn-danger" (click)="deleteLpoDetail(lpoDetail.id)" style="border-radius: 10px;margin: 1px;padding: 2px;font-size: 10px;"><span class="glyphicon glyphicon-trash"></span> Remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-width: 0px;"></td>
                            <td style="border-width: 0px;"></td>
                            <td style="border-width: 0px;"></td>
                            <td class="info" style="text-align: right"></td>
                            <td class="info" style="text-align: right"></td>
                            <td class="info" style="text-align: right"></td>
                            <td style="border-width: 0px;"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    
    </div>
        <div class="row">
            <div class="col-sm-12">
                <span style="font-size: 12px;">
                    <b>Summary</b>
                    Supplier: ({{supplierCode}}) {{supplierName}}
                    Created by: {{createdBy}}
                    Approved by: {{approvedBy}}
                    Order Date: {{lpoDate}}
                    Validity Period: {{validityPeriod}} days
                    Valid Until: {{validUntil}} 
                    Status: {{status}}
                </span>
            </div>
        </div>
  </div>
  
  
