<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Local Purchase Order (LPO)</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2"><input type="text" class="form-control" placeholder="Order#"></div>
            <div class="col-sm-1"><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Order</button></div>
            <div class="col-sm-2"><input type="text" class="form-control" placeholder="Supplier Code"></div>
            <div class="col-sm-3"><input type="text" class="form-control" placeholder="Supplier"></div> 
            <div class="col-sm-2"><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Supplier</button></div>        
            <div class="col-sm-1"><button class="btn btn-success"><span class="glyphicon glyphicon-file-open"></span> New Order</button></div>                  
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <p>Supplier: (1001) ANDE AND SANILI</p>
                <p>Created by: Godfrey Shirima </p>
                <p>Approved by: Ali Abdallah </p>
                <p>Order Date: 11 Nov 2020, Validity Period: 30 days, Valid Until: 11 Dec 2020</p>
                <p>Status: PENDING </p>
                <p>Qty: 100</p>
                <p>Order Cost: 100,000.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>..
                <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Approve</button>..
                <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button>..
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>+-</td>
                            <td>Barcode</td>
                            <td>Code</td>
                            <td>Descr</td>
                            <td>Pck</td>
                            <td>Qty</td>
                            <td>CP@</td>
                            <td>Total CP</td>
                            <td>SP@</td>
                            <td>Total SP</td>
                            <td>Profit</td>
                            <td>Curr Stk</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>+-</td>
                            <td>8758749955848</td>
                            <td>237659</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>6</td>
                            <td>100</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                            <td>1,000.00</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>+-</td>
                            <td>8758749955848</td>
                            <td>237659</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>6</td>
                            <td>100</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                            <td>1,000.00</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>+-</td>
                            <td>8758749955848</td>
                            <td>237659</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>6</td>
                            <td>100</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                            <td>1,000.00</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        

    </div>
  </div>
