<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Goods Returned by Customer</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-3">Bill#</div>
                    <div class="col-sm-4"><input type="text" class="form-control"></div>
                    <div class="col-sm-4"><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span>Search</button></div>
                </div>
                <p>Till#: 0001</p>
                <p>Bill Date: 11-11-2020</p>
                <p>Amount: 100,000.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>Item Code</td>
                            <td>Qty</td>
                            <td>Price @</td>
                            <td>Description</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>264785</td>
                            <td>10</td>
                            <td>1,000.00</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                        </tr>
                        <tr>
                            <td>264785</td>
                            <td>10</td>
                            <td>1,000.00</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                        </tr>
                        <tr>
                            <td>264785</td>
                            <td>10</td>
                            <td>1,000.00</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Confirm Return</button>
            </div>
        </div>
        
        
    </div>
  </div>
