<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Print LPO</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-2"><input type="text" class="form-control" placeholder="Order#"></div>
            <div class="col-sm-1"><button class="btn btn-success"><span class="glyphicon glyphicon-search"></span> Order</button></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <p>Supplier: (1001) ANDE AND SANILI</p>
                <p>Created by: Godfrey Shirima </p>
                <p>Approved by: Ali Abdallah </p>
                <p>Order Date: 11 Nov 2020, Validity Period: 30 days, Valid Until: 11 Dec 2020</p>
                <p>Status: PENDING </p>
                <p>Qty: 100</p>
                <p>Order Cost: 100,000.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success"><span class="glyphicon glyphicon-print"></span> Print</button>..
                <button class="btn btn-success"><span class="glyphicon glyphicon-print"></span> Print with Cost</button>
              
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>+-</td>
                            <td>Barcode</td>
                            <td>Code</td>
                            <td>Descr</td>
                            <td>Pck</td>
                            <td>Qty</td>
                            <td>CP@</td>
                            <td>Total Cost</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>+-</td>
                            <td>8758749955848</td>
                            <td>237659</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>6</td>
                            <td>100</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                        </tr>
                        <tr>
                            <td>+-</td>
                            <td>8758749955848</td>
                            <td>237659</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>6</td>
                            <td>100</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                        </tr>
                        <tr>
                            <td>+-</td>
                            <td>8758749955848</td>
                            <td>237659</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>6</td>
                            <td>100</td>
                            <td>1,000.00</td>
                            <td>100,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-sm 12">
                
                
            </div>
        </div>

    </div>
  </div>
