<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Access Control</h3>      
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Role</p>
                        <input type="text" class="form-control">
                        <br>
                        <button class="btn btn-success"><span class="glyphicon glyphicon-new"></span> New</button>..
                        <button class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span> Edit</button>..
                        <button class="btn btn-success"><span class="glyphicon glyphicon-trash"></span> Delete</button>..
                        <button class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                            <thead>
                                <tr class="info">
                                    <td>SN</td>
                                    <td>Role</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>MANAGER</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>MANAGER</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>MANAGER</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Select Role</p>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <table id="data-table" class="table table-bordered table-condensed table-hover table-responsive">
                                <tbody>
                                    <tr>
                                        <td>Prev1</td>
                                        <td><input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Prev1</td>
                                        <td><input type="checkbox"></td>
                                    </tr>
                                    <tr>
                                        <td>Prev1</td>
                                        <td><input type="checkbox"></td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
