<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h3 class="panel-title">Product Master</h3></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 14px;" (click)="newItem()"><span class="glyphicon glyphicon-folder-open"></span>New</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 14px;" (click)="clear()"><span class="glyphicon glyphicon-refresh"></span>Reset</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 14px;" (click)="deleteItem()"><span class="glyphicon glyphicon-trash"></span>Delete</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 14px;" (click)="saveItem()"><span class="glyphicon glyphicon-floppy-disk"></span>Save</a>
                </td>
            </tr>
        </table>
        
    <div class="panel-body well" style="padding: 5px;">
        <form class="form form-horizontal">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="">
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-6 ">
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">Primary Barcode</div>
                                <div class="col-sm-8">
                                    <input type="text" name="primaryBarcode" [(ngModel)]="primaryBarcode" class="form-control" placeholder="--Primary Barcode--">
                                </div>
                                <div class="col-sm-4">Item Code</div>
                                <div class="col-sm-8"><input type="text" name="itemCode" [(ngModel)]="itemCode" ngDefaultControl class="form-control" placeholder="--Item Code--"></div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" (click)="searchItem()" name="searchItem" style="margin: 2px; border-radius: 0px;"><span class="glyphicon glyphicon-search"></span>Search</button>  
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Long Description</div>
                        <div class="col-sm-9">
                            <ng2-completer style="width: 100%; overflow-y: visible;" [autofocus]="true" name="longDescription" [(ngModel)]="longDescription" [inputClass]="'form-control form-control-inline'" [datasource]="items" [minSearchLength]="3" placeholder="--Long Description--"></ng2-completer>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Short Description</div>
                        <div class="col-sm-9"><input type="text" name="shortDescription" [(ngModel)]="shortDescription" class="form-control" placeholder="--Short Description--"></div>
                    </div>
                    
                </div>
                <div class="col-sm-6 ">
                    
                    <div class="row">
                        <div class="col-sm-3">Ingredients</div>
                        <div class="col-sm-9"><input type="text" name="ingredients" [(ngModel)]="ingredients" class="form-control" placeholder="--Ingredients--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Pack Size</div>
                        <div class="col-sm-9"><input type="text" name="packSize" [(ngModel)]="packSize" class="form-control" placeholder="--Pack Size--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Supplier</div>
                        <div class="col-sm-9">
                            <select [(ngModel)]="supplierName" name="supplierName" class="form-control" placeholder="--Supplier--">
                                <option></option>
                                <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="row">
                        <div class="col-sm-3">Department</div>
                        <div class="col-sm-9">
                            <select [(ngModel)]="departmentName" name="departmentName"(change)="getClasses(departmentName)" class="form-control" placeholder="--Department--">
                                <option></option>
                                <option *ngFor="let department of departmentNames" [ngValue]="department">{{department}}</option>
                            </select>
                            <!--<input type="text" name="datartment" [(ngModel)]="department" class="form-control" placeholder="--Department--">-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Class</div>
                        <div class="col-sm-9">
                            <select [(ngModel)]="clasName" name="clasName"(change)="getSubClasses(clasName)" class="form-control" placeholder="--Department--">
                                <option></option>
                                <option *ngFor="let clasName of clasNames" [ngValue]="clasName">{{clasName}}</option>
                            </select>
                            <!--<input type="text" name="datartment" [(ngModel)]="department" class="form-control" placeholder="--Department--">-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Sub Class</div>
                        <div class="col-sm-9">
                            <select [(ngModel)]="subClassName" name="subClassName" class="form-control" placeholder="--Sub Class--">
                                <option></option>
                                <option *ngFor="let subClassName of subClassNames" [ngValue]="subClassName">{{subClassName}}</option>
                            </select>
                            <!--<input type="text" name="datartment" [(ngModel)]="department" class="form-control" placeholder="--Department--">-->
                        </div>
                    </div>
                    <hr>


                    <div class="row">
                        <div class="col-sm-3">Quantity</div>
                        <div class="col-sm-9"><input type="text" name="quantity" [(ngModel)]="quantity" class="form-control" placeholder="--Quantity--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Maximum Inventory</div>
                        <div class="col-sm-9"><input type="text" name="maximumInventory" [(ngModel)]="maximumInventory" class="form-control" placeholder="--Maximum Inventory--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Minimum Inventory</div>
                        <div class="col-sm-9"><input type="text" name="minimumInventory" [(ngModel)]="minimumInventory" class="form-control" placeholder="--Minimum Inventory--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Default Re-Order Level</div>
                        <div class="col-sm-9"><input type="text" name="defaultReOrderLevel" [(ngModel)]="defaultReOrderLevel" class="form-control" placeholder="--Default Re Order Level--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Re Order quantity</div>
                        <div class="col-sm-9"><input type="text" name="reOrderQuantity" [(ngModel)]="reOrderQuantity" class="form-control" placeholder="--Re Order Quantity--"></div>
                    </div>

                </div>
                <div class="col-sm-6 ">
                    <div class="row">
                        <div class="col-sm-3">Cost Price @</div>
                        <div class="col-sm-9"><input type="text" name="unitCostPrice" [(ngModel)]="unitCostPrice" class="form-control" placeholder="--Cost Price @--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Retail Price @</div>
                        <div class="col-sm-9"><input type="text" name="unitRetailPrice" [(ngModel)]="unitRetailPrice" class="form-control" placeholder="--Retail Price @--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Profit Margin(%)</div>
                        <div class="col-sm-9"><input type="text" name="profitMargin" [(ngModel)]="profitMargin" class="form-control" placeholder="--Profit Margin--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Standard UOM</div>
                        <div class="col-sm-9"><input type="text" name="standardUom" [(ngModel)]="standardUom" class="form-control" placeholder="--Standard UOM--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">VAT(%)</div>
                        <div class="col-sm-9"><input type="text" name="vat" [(ngModel)]="vat" class="form-control" placeholder="--VAT(%)--"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Discount(%)</div>
                        <div class="col-sm-9"><input type="text" name="discount" [(ngModel)]="discount" class="form-control" placeholder="--Discount(%)--"></div>
                    </div>
                </div>
            </div>
        </form>
        
      
    </div>
  </div>
  
  