<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Supplier Stock Status</h5></td>
                <td>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-refresh"></span> Run Report</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-print"></span> Print</a>
                    <a class="" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-print"></span> Print With Profit</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-12">
                <table>
                    <tr style="font-size: 13px;">
                        <td style="width: 30mm;">Select Supplier</td>
                        <td style="width: 60mm;">
                            <select  name="supplierName" style="height: 7mm;" class="form-control" placeholder="--Supplier--">
                                <option></option>
                                <!--<option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{supplier}}</option>-->
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info" style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>Item Code</td>
                            <td>Description</td>
                            <td>Stck</td>
                            <td>CP@</td>
                            <td>SP@</td>
                            <td>Stock Cost</td>
                            <td>Stock Value</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>64946</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>500</td>
                            <td>1,000.00</td>
                            <td>1,000.00</td>
                            <td>5,000,000.00</td>
                            <td>5,000,000.00</td>
                        </tr>
                        <tr style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>64946</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>500</td>
                            <td>1,000.00</td>
                            <td>1,000.00</td>
                            <td>5,000,000.00</td>
                            <td>5,000,000.00</td>
                        </tr>
                        <tr style="font-size: 12px;color: rgba(45, 42, 48, 0.658);">
                            <td>64946</td>
                            <td>KILIMANJARO DRINKING WATER</td>
                            <td>500</td>
                            <td>1,000.00</td>
                            <td>1,000.00</td>
                            <td>5,000,000.00</td>
                            <td>5,000,000.00</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span style="font-size: 12px;">
                <b>Summary</b>
                Cost Value: 120,000.00;
                Net Value: 50,000.00;
                (Note: Negative stocks are excluded)
            </span>
        </div>
    </div>
</div>
