<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">List LPO</h3>
    </div>
    <div class="panel-body well">
        
        
        <div class="row">
            
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>#</td>
                            <td>Supplier</td>
                            <td>Created</td>
                            <td>Approved</td>
                            <td>Printed</td>
                            <td>Amount</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>LPO-001</td>
                            <td>(1001) ANDE AND SANILI</td>
                            <td>11-11-2020</td>
                            <td>12-11-2020</td>
                            <td>12-11-2020</td>
                            <td>1,200,000.00</td>
                            <td>APPROVED</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>LPO-001</td>
                            <td>(1001) ANDE AND SANILI</td>
                            <td>11-11-2020</td>
                            <td>12-11-2020</td>
                            <td>12-11-2020</td>
                            <td>1,200,000.00</td>
                            <td>APPROVED</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>LPO-001</td>
                            <td>(1001) ANDE AND SANILI</td>
                            <td>11-11-2020</td>
                            <td>12-11-2020</td>
                            <td>12-11-2020</td>
                            <td>1,200,000.00</td>
                            <td>APPROVED</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        

    </div>
  </div>
