<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">List LPO</h3>
    </div>
    <div class="panel-body well">
        
        
        <div class="row">
            
        </div>
        <br>
        
        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table table-bordered table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td>#</td>
                            <td>SupplierCode</td>
                            <td>Created</td>
                            <td>Approved</td>
                            <td>Printed</td>
                            <td>Amount</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lpo of lpos" [ngValue]="lpo">
                            <td>{{lpo.lpoNo}}</td>
                            <td>{{lpo.lpoDate}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><a class="glyphicon glyphicon-pencil badge">Select</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        

    </div>
  </div>
