<div class="panel panel-default">
    <div class="panel-heading">
        <table>
            <tr>
                <td style="width:70mm"><h5 class="panel-title">Allocations</h5></td>
                <td>
                    <a (click)="newAllocation()" style="cursor: pointer; margin-right: 30px; font-size: 12px;" ><span class="glyphicon glyphicon-folder-open"></span> New</a>
                </td>
            </tr>
        </table>
      
    </div>
    <div class="panel-body well" style="padding: 5px;">
        <div class="row">
            <div class="col-sm-12">
                <table>
                    <tbody>
                        <tr>
                            <td style="width: 100mm; vertical-align: top;">
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658);">Customer Name</td>
                                        <td style="width: 80mm;">
                                            <select [(ngModel)]="customerName" (change)="searchCustomerByName()" [disabled]="lockedCustomer" class="form-control" placeholder="--Customer Name--" style="margin: 2px;font-size: 11px; height: 5mm; padding-top: 1px;">
                                                <option></option>
                                                <option *ngFor="let customer of customersNames" [ngValue]="customer">{{customer}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658);">Customer Code</td>
                                        <td style="width: 30mm;"><input type="text" [(ngModel)]="customerNo" [disabled]="lockedCustomer" class="form-control" placeholder="Customer Code" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                        <td style="padding-left: 5px;"><button (click)="searchCustomerByNo()" style="height: 5mm; padding: 0px;"><span class="glyphicon glyphicon-search"></span> Search</button></td>
                                    </tr>
                                </table>
                                <br>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 35mm;color: rgba(45, 42, 48, 0.658); padding-left: 0mm; text-align: right;">Credit Balance</td>
                                        <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;"><b>{{creditLimit-outstandingBalance|currency:'TSh':''}}</b></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 35mm;color: rgba(45, 42, 48, 0.658); padding-left: 3mm; text-align: right;">Outstanding Balance</td>
                                        <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;"><b>{{outstandingBalance|currency:'TSh':''}}</b></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <td style="width: 35mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Balance Available</td>
                                        <td style="width: 30mm;color: rgba(45, 42, 48, 0.658); text-align: right;"><b>{{amountUnallocated|currency:'TSh':''}}</b></td>
                                        
                                    </tr>
                                </table>
                            </td>
                            <!--<td style="width: 150mm; vertical-align: top;">
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Invoice No</td>
                                        <td style="width: 35mm;"><input type="text" [(ngModel)]="invoiceNo" [disabled]="lockedInvoice" class="form-control" placeholder="--Invoice No--" style="margin: 2px;font-size: 11px; height: 5mm;"></td>
                                        <td style="padding-left: 5px;"><button (click)="searchInvoiceByInvoiceNoAndCustomerNo()" style="height: 5mm; padding: 0px;"><span class="glyphicon glyphicon-search"></span> Search Invoice</button></td>
                                        <td style="width: 40mm;color: rgba(45, 42, 48, 0.658); text-align: right;">
                                            <button type="button" data-toggle="modal" data-target="#invoiceModal"><span class="glyphicon glyphicon-list"></span> Invoice List</button>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Invoice Date</td>
                                        <td style="width: 35mm; text-align: right;">{{invoiceDate}}</td>
                                        <td style="padding-left: 5px;"></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Inv Total</td>
                                        <td style="width: 35mm; text-align: right;">{{invoiceAmount|currency:'TSh':''}}</td>
                                        <td style="padding-left: 5px;"></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Payed</td>
                                        <td style="width: 35mm; text-align: right;">{{invoiceAmountPayed|currency:'TSh':''}}</td>
                                        <td style="padding-left: 5px;"></td>
                                    </tr>
                                </table>
                                <table>
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Inv Due</td>
                                        <td style="width: 35mm; text-align: right;">{{invoiceAmountDue|currency:'TSh':''}}</td>
                                        <td style="padding-left: 5px;"></td>
                                    </tr>
                                </table>
                                <br>
                                <table class="table-bordered">
                                    <tr style="font-size: 12px;">
                                        <input type="hidden" >
                                        <td style="width: 25mm;color: rgba(45, 42, 48, 0.658); text-align: right;">Allocate Amt</td>
                                        <td style="width: 20mm;"><input type="text" [(ngModel)]="allocationAmount"  [disabled]="lockedValue" class="form-control" style="width: 35mm; text-align: right;"></td>
                                        <td style="width: 35mm; text-align: right; font-weight: bold; font-size: 16px; font-family: monospace;">{{allocationAmount|currency:'TSh':''}}</td>
                                        <td style="padding-left: 5px;"><button (click)="allocate()"  [disabled]="lockedValue" style="height: 5mm; padding: 0px;"><span class="glyphicon glyphicon-ok"></span> Allocate</button></td>
                                    </tr>
                                </table>
                            </td>-->
                            <td style="width: 50mm; vertical-align: top;">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="data-table" style="font-size: 13px;display: block; height: 150px; width: 100%; overflow-y: auto;overflow-x: auto;"  class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                    <thead>
                        <tr class="info">
                            <td style="position: sticky; top: 0;">Invoice#</td>
                            <td style="position: sticky; top: 0;">Invoice Date</td>
                            <td style="position: sticky; top: 0;">Amount</td>
                            <td style="position: sticky; top: 0;">Amount Paid</td>
                            <td style="position: sticky; top: 0;">Balance</td>
                            <td style="position: sticky; top: 0;">Status</td>
                            <td style="position: sticky; top: 0;">Select</td>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let invoice of invoices" [ngValue]="invoice" style="font-size: 12px;">
                            <td>{{invoice.invoiceNo}}</td>
                            <td>{{invoice.invoiceDate}}</td>
                            <td style="text-align: right;">{{invoice.invoiceAmount|currency:'TSh':''}}</td>
                            <td style="text-align: right;">{{invoice.invoiceAmountPayed|currency:'TSh':''}}</td>
                            <td style="text-align: right;">{{invoice.invoiceAmountDue|currency:'TSh':''}}</td>
                            <td>{{invoice.invoiceStatus}}</td>
                            <td><button data-toggle="modal" data-target="#allocationModal" (click)="showAllocationModal(invoice.invoiceNo)">Select to allocate</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
 <div id="allocationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title"><b>Allocate Invoice </b></h5>
          </div>
          <div class="modal-body">
              <table>
                  <tbody>
                      <tr>
                          <td style="width: 40mm;color: rgba(5, 4, 7, 0.658); text-align: right;">Customer: </td>
                          <td style="color: rgba(5, 4, 7, 0.658); text-align: left; padding-right: 2mm; padding-left: 2mm;"><b>{{customerNo}} {{customerName}}</b></td>
                      </tr>
                     
                  </tbody>
              </table>
              <br>
              <table>
                  <tbody style="font-size: 12px;">
                      <tr>
                          <td style="width: 40mm;color: rgba(5, 4, 7, 0.658); text-align: right;">Invoice No: </td>
                          <td style="width: 40mm;color: rgba(5, 4, 7, 0.658); text-align: left; padding-right: 2mm; padding-left: 2mm;">{{invoiceNo}}</td>
                      </tr>
                      
                      
                  </tbody>
              </table>
              <table>
                <tbody style="font-size: 12px;">
                   
                    <tr>
                        <td style="width: 40mm;color: rgba(5, 4, 7, 0.658); text-align: right;">Invoice Total: </td>
                        <td style="width: 30mm;color: rgba(5, 4, 7, 0.658); text-align: right; padding-right: 2mm; padding-left: 2mm;">{{invoiceAmount|currency:'TSh':''}}</td>
                    </tr>
                    <tr>
                        <td style="width: 40mm;color: rgba(5, 4, 7, 0.658); text-align: right;">Amount Paid: </td>
                        <td style="width: 30mm;color: rgba(5, 4, 7, 0.658); text-align: right; padding-right: 2mm; padding-left: 2mm;">{{invoiceAmountPayed|currency:'TSh':''}}</td>
                    </tr>
                    <tr>
                        <td style="width: 40mm;color: rgba(5, 4, 7, 0.658); text-align: right;">Outstanding Balance: </td>
                        <td style="width: 30mm;color: rgba(5, 4, 7, 0.658); text-align: right; padding-right: 2mm; padding-left: 2mm;">{{invoiceAmountDue|currency:'TSh':''}}</td>
                    </tr>
                    
                </tbody>
            </table>
              <hr>
              <table id="data-table" style="font-size: 13px;display: block; height: 150px; width: 100%; overflow-y: auto;overflow-x: auto;"  class="table table-bordered table-striped table-condensed data-table table-hover table-responsive">
                <thead>
                    <tr class="info">
                        <td style="position: sticky; top: 0;">Receipt No</td>
                        <td style="position: sticky; top: 0;">Balance</td>
                        <td style="position: sticky; top: 0;">Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receipt of receipts" [ngValue]="receipt" style="font-size: 12px;">
                        <td>{{receipt.receiptNo}}</td>
                        <td>{{receipt.receiptAmount|currency:'TSh':''}}</td>
                        <td><button>Allocate</button></td>
                    </tr>
                </tbody>
                <tbody >
                    <!--<tr *ngFor="let lpo of lpos" [ngValue]="lpo" style="font-size: 12px;">
                        <td>{{lpo.lpoNo}}</td>
                        <td>{{lpo.lpoDate}}</td>
                        <td>{{lpo.status}}</td>
                        <td><a class="badge badge-default" (click)="searchLpo(lpo.lpoNo)">Select</a></td>
                    </tr>-->
                </tbody>
            </table>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
  </div>

  
