<div class="row">
    <div class="col-sm-12" *ngIf="isLoggedIn===false">
        <br>
        <br>
        <br>
        <br>
        <br>
        <table>
            <tbody>
                <tr>
                    <td style="width: 100mm;"></td>
                    <td style="width: 100mm;">
                        
                        <table style="background-color: rgb(240, 232, 238); border-radius: 2mm;">
                            <tbody>
                                <br>
                                <tr>
                                    <td style="width: 40mm; text-align: right; padding-right: 2mm;"></td>
                                    <td style="width: 60mm; padding-right: 2mm; color: rgb(88, 73, 107); font-weight: bold;"><span class="glyphicon glyphicon-user"></span> User Login</td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="width: 40mm; text-align: right; padding-right: 2mm;">Username</td>
                                    <td style="width: 60mm; padding-right: 2mm;"><input type="text" [(ngModel)]="username" class="form-control"></td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="width: 40mm; text-align: right; padding-right: 2mm;">Password</td>
                                    <td style="width: 60mm; padding-right: 2mm;"><input type="password" [(ngModel)]="password" class="form-control"></td>
                                </tr>
                                <br>
                                <tr>
                                    <td style="width: 40mm; text-align: right; padding-right: 2mm;"></td>
                                    <td style="width: 60mm; padding-right: 2mm;">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="width: 30mm;"><button class="btn btn-primary" (click)="login()">Login</button></td>
                                                    <td style="width: 30mm;"><button class="btn btn-danger"><span class="glyphicon glyphicon-cancel"></span> Cancel</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        
                                    </td>
                                </tr>
                                <br>
                            </tbody>
                        </table>
                        <span style="text-align: center;" class="text-danger" *ngIf="isLoginFailed===true">Login failed</span>
                    </td>
                    <td style="width: 100mm;"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
