<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Sub Classes</h3>
    </div>
    <div class="panel-body well">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-2">Code</div>
                    <input type="hidden" name="id" [(ngModel)]="id">
                    <div class="col-sm-5"><input type="text" name="subClassCode" [(ngModel)]="subClassCode" class="form-control" placeholder="--Sub Class Code--"></div>
                    <div class="col-sm 7">
                        <button type="reset" name="newSubClass"  class="btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-pencil"></span> Reset/New</button>  
                        <button type="button" (click)="searchSubClass()" name="searchSubClass" class="btn btn-warning" style="margin: 2px; border-radius: 20px;"><span class="glyphicon glyphicon-search"></span>Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Name</div>
                    <div class="col-sm-10">
                        <ng2-completer style="width: 100%;" name="subClassName" [(ngModel)]="subClassName" [inputClass]="'form-control form-control-inline'" [datasource]="subClassNames" [minSearchLength]="1" placeholder="--Sub Class Name--"></ng2-completer>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Department</div>
                    <div class="col-sm-10">
                        <select [(ngModel)]="departmentName" name="departmentName" (change)="getClasses(departmentName)" class="form-control" placeholder="--Department--">
                            <option></option>
                            <option *ngFor="let department of departmentNames" [ngValue]="department">{{department}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Class</div>
                    <div class="col-sm-10">
                        <select [(ngModel)]="clasName" name="clasName" class="form-control" placeholder="--Class--">
                            <option></option>
                            <option *ngFor="let clas of clasNames" [ngValue]="clas">{{clas}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button type="button" name="saveSubClass" (click)="saveSubClass()" class="btn btn-success" style="margin: 2px;"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        <button type="button" name="deleteSubClass" (click)="deleteSubClass()" class="btn btn-danger" style="margin: 2px;"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed data-table table-hover">
                            <thead>
                                <tr class="info">
                                    <td>Sub Class Code</td>
                                    <td>Sub Class Name</td>
                                    <td>Class</td>
                                    <td>Department</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subClass of subClasses" [ngValue]="subClass">
                                    <td>{{subClass.subClassCode}}</td>
                                    <td>{{subClass.subClassName}}</td>
                                    <td>{{subClass['clas'].clasName}}</td>
                                    <td>{{subClass['department'].departmentName}}</td>
                                    <td><a class="glyphicon glyphicon-pencil badge" (click)="search(subClass.id)">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  </div>